<top-menu></top-menu>
   
<section class="temp-predict-wrap">
    <!-- **image upload block**-->
    <h2 class="title md-headline">Predictions</h2>
    <div class="analysis-section-wrap" layout="row" layout-align="space-around">
      <div class="section-cards" layout="column" flex-gt-sm="80" flex-sm="70" flex-xs="100" flex-gt-lg="60"
        layout-align="space-between">
        <div class="img-upload-card md-padding" layout-gt-sm="row">
          <div class="image-upload-box" flex-xs="100" flex-sm="100" flex-md="100" flex-gt-md="50">
            <md-list layout="row">
              <md-list-item layout-align="space-between center">
                <span>
                  <span id="hint">Input</span>
                </span>
                <span flex></span>
              </md-list-item>
            </md-list>

            <md-progress-linear ng-if="changeImgLoading == true" md-mode="indeterminate"></md-progress-linear>
            <div class="image-upload-area" layout="column">
              <div class="drop-area-temp" class="drop-box">
                <img class="selected-img" ng-src="{{API_URL+selectedImg}}" alt="" ng-click="templatePredictionsCtrl.showLargeImgPrediction(selectedImg,$event)"/>
              </div>
            </div>
          </div>
  
          <!-- DIV to show if error occurs-->
          <!-- <div class="error-loading md-padding"
            ng-if="templatePredictionsCtrl.predictionStatus.errorOccured && !templatePredictionsCtrl.predictionStatus.firstLoad" layout="column" flex
            layout-align="center center">
            <div class="err-icon-box">
              <md-icon>error</md-icon>
            </div>
            <div class="err-txt">
              Unexpected Error Occurred!
              <br />
            </div>
          </div> -->
  
          <!-- Attributes Predictions -->
          <div class="auto-prediction-temp-table-box img-prediction-box" id="predictions" flex-xs="100"
            flex-sm="100" flex-md="100" flex-gt-md="100">
            <md-list layout="row">
              <md-list-item layout="row" layout-align="space-between center">
                <span>
                  <span id="hint">Output</span>
                </span>
                <!-- <span>Demo
                  <span id="hint">Help</span>
                </span> -->
                <span flex>
                  
                </span>
                <md-button class="md-icon-button md-primary" ngclipboard
                  style="cursor: pointer;"
                  ng-click="templatePredictionsCtrl.onEditAttributes()"
                  ng-disabled="editAttributes"
                  md-no-ink>
                  <md-icon>edit</md-icon>
                  <md-tooltip md-direction="right">Edit</md-tooltip>
                </md-button>
                <md-button class="md-primary md-raised" ng-click="templatePredictionsCtrl.editPredictionDialog($event,singleImgPrediction)">
                  Edit
                </md-button>
              </md-list-item>
            </md-list>

            <!-- <div class="json-structure" >
              <div layout="row">
                <span flex></span>
                <md-button class="md-icon-button" ng-if="templatePredictionsCtrl.jsonOutput" ngclipboard
                  data-clipboard-text="{{ templatePredictionsCtrl.jsonOutput }}">
                  <md-icon>file_copy</md-icon>
                  <md-tooltip md-direction="bottom">Copy</md-tooltip>
                </md-button>
              </div>
              <json-formatter ng-if="templatePredictionsCtrl.jsonOutput" json="templatePredictionsCtrl.jsonOutput" open="6"></json-formatter>
            </div> -->
             <!-- image prediction loading -->
          <div class="prediction-loading md-padding" layout="column" layout-sm="column" layout-align="center center" ng-if="isLoading == true || singleImgPrediction.length == 0" flex>
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </md-progress-circular>
            <div class="prediction-loading-txt">
              
              <span>Loading
                Predictions...</span>
            </div>
          </div>
            
            <!-- main table (default view) -->
            <div ng-if="!editAttributes" class="temp-disp" layout="row" layout-align="center center" ng-if="isLoading == false && singleImgPrediction.length != 0">
              <!-- Predictions Table -->
              <table>
                <thead>
                  <th>
                    <md-icon>label</md-icon>
                  </th>
                  <th>ATTRIBUTE</th>
                  <th>VALUES</th>
                </thead>
                <tbody>
                  <tr ng-repeat="prediction in singleImgPrediction track by $index" >
                    <td class="icon" style="width: 8%;">
                      <md-icon>check</md-icon>
                    </td>
                    <td  style="width: 30%;">
                      <span class="disc"></span>{{ prediction.attribute }}
                    </td>
  
                    <td style="width: 33%;">
                      <!-- <span class="attr-val">
                        <small>
                            {{
                              prediction.prediction.length
                                ? prediction.prediction.join(", ")
                                : "Not Available"
                            }}
                        </small>
                      </span> -->
                      <span class="attr-val">
                          <small>
                              {{
                                prediction.prediction
                              }}
                          </small>
                        </span>
                     
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div ng-if="editAttributes" class="temp-disp" layout="row" layout-align="center center" ng-if="isLoading == false && singleImgPrediction.length != 0">
              <!-- Predictions Table -->
              <form 
              name="editForm"
              ng-submit="templatePredictionsCtrl.onSubmitEdit(predictionData)"
              layout="column">
                <table>
                  <thead>
                    <th>
                      <md-icon>label</md-icon>
                    </th>
                    <th>ATTRIBUTE</th>
                    <th>VALUES</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="prediction in singleImgPrediction track by $index" >
                      <td class="icon" style="width: 8%;">
                        <md-icon>check</md-icon>
                      </td>
                      <td  style="width: 30%;">
                        <span class="disc"></span>{{ prediction.attribute }}
                      </td>
    
                      <td style="width: 33%;">
                        <!-- <span class="attr-val">
                          <small>
                              {{
                                prediction.prediction.length
                                  ? prediction.prediction.join(", ")
                                  : "Not Available"
                              }}
                          </small>
                        </span> -->
                        <span class="attr-val">
                          <md-input-container>
                            <input value="{{prediction.prediction}}" type="text" ng-model="predictionData[$index].prediction">
                          </md-input-container>
                            <!-- <small>
                                {{
                                  prediction.prediction
                                }}
                            </small> -->
                          </span>
                      
                      </td>
                    </tr>
                  </tbody>
                  <tr>
                    <td colspan="2">
                        <md-button class="md-raised md-primary"
                        style="cursor: pointer;"
                        md-no-ink
                        type="submit"
                        >
                          <!-- <md-icon>file_copy</md-icon> -->
                          Save
                        </md-button>
                    </td>
                  </tr>
                </table>
              </form>  
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>
  <!-- <section class="live-demo">
    <section class="slik-wrap">
      <div class="img-carousel" ng-if="dataLoaded">
        <div class="slick-carousel" ng-repeat="img in imageList" ng-if="dataLoaded" init-onload="false" data="dataLoaded"
          slick-carousel-el>
          <div class="item">
            <div class="img-holder">
              <img ng-src="{{ img.image }}" ng-click="templatePredictionsCtrl.predictImage(img)"/>
            </div>
          </div>
        </div>
      </div>
    </section>
</section>  -->
<section class="live-demo" ng-if="imageList.length != 0">
  <section class="slik-wrap">
    
    <div class="img-carousel" ng-if="dataLoaded">
            <md-button class="md-icon-button cax-white" ng-disabled="current_page == 1"
              ng-click="templatePredictionsCtrl.paginateHistoryThumbData(-1)">
              <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
      <div class="slick-carousel" ng-repeat="img in imageList" ng-if="dataLoaded" init-onload="false" data="dataLoaded">
        <div class="item">
          <div class="img-holder">
            <img ng-src="{{API_URL+img.image+'&res=true'}}" ng-class="{'active-thumbnail': img.image == selectedImg}" ng-click="templatePredictionsCtrl.predictImage(img,$index)"/>
          </div>
        </div>
      </div>
          <md-button class="md-icon-button cax-white" ng-disabled="current_page == total_pages"
            ng-click="templatePredictionsCtrl.paginateHistoryThumbData(1)">
            <md-icon>keyboard_arrow_right</md-icon>
          </md-button>
    </div>
    
  </section>
  <div class="count" layout="row" layout-align="center center" flex="100">
      <span class="current-page">{{ current_item }}&nbsp/</span>
      <span class="total-page">&nbsp;{{ total_items }}</span>
  </div>
</section> 
