$max-height: 600px; // Max height for boxes
// section.live-demo {
//   padding: 0px 42px;
//   overflow: hidden;
//   @media screen and (max-width: 600px) {
//     padding: 42px 0;
//   }
//   @media screen and (min-width: 600px) and (max-width: 1279px) {
//     padding: 30px 42px;
//   }
//   h2.title {
//     color: #2d3a52;
//     text-align: center;
//     @media screen and (min-width: 1920px) {
//       font-size: 34px;
//     }
//   }
//   section.slik-wrap {
//     overflow: hidden;
//     padding: 8px 40px;
//     // background: #fff;
//     @media screen and (max-width: 599px) {
//       padding: 30px 10px;
//     }
//     div.img-carousel {
//       width: 60%;
//       margin: 0 auto;
//       @media screen and (max-width: 599px) {
//         width: 100%;
//       }
//     }
//     div.slick-carousel {
//       padding-top: 12px;
//       div.item {
//         div.img-holder {
//           img {
//             max-width: 50%;
//             margin: 0 auto;
//             height: auto;
//             border-radius: 4px;
//             margin-bottom: 4px;
//             outline: none;
//             cursor: pointer;
//           }
//         }
//       }
//     }
//     ul.slick-dots{
//     position: absolute;
//     bottom: -45px;
//     list-style: none;
//     display: block;
//     text-align: center;
//     padding: 0;
//     width: 100%;
//     }
//     .slick-dots li {
//       position: relative;
//       display: inline-block;
//       margin: 0 5px;
//       padding: 0;
//   }
//   .slick-dots li button {
//     border: 0;
//     background: transparent;
//     display: block;
//     outline: none;
//     line-height: 0;
//     font-size: 0;
//     color: transparent;
//     padding: 5px;
//   }
//   }
// }
section.temp-predict-wrap {
  padding: 30px 42px;
  overflow: hidden;
  // margin: 84px auto 0px auto;
  margin: 30px auto 0px auto;
  @media screen and (max-width: 600px) {
    padding: 42px 0;
  }
  @media screen and (min-width: 600px) and (max-width: 1279px) {
    padding: 30px 42px;
  }
  h2.title {
    color: #2d3a52;
    text-align: center;
    @media screen and (min-width: 1920px) {
      font-size: 34px;
    }
  }
  div.analysis-section-wrap {
    div.section-cards {
      position: relative;
      // background-color:#fff;
      border-radius: 5px;
      @media screen and (max-width: 599px) {
        padding: 0 !important;
      }

      div.img-upload-card{
        padding: 0px 16px;
      }
      div.section-hd {
        padding: 0 20%;
        text-align: center;
        h1 {
          font-size: 30px;
          font-weight: 300;
          line-height: 30px;
          margin: 0 0 5px;
          span {
            font-size: 40px;
            font-weight: 500;
          }
          @media screen and (max-width: 600px) {
            font-size: 28px;
          }
        }
        p {
          margin: 0 0 10px;
          font-weight: 300;
          font-size: 14px;
          color: #78909c;
        }
      }
      // padding: 30px 0;
      position: relative;
      // @media screen and (max-width: 1279px) {
      //   padding-top: 30px;
      // }
      div.image-upload-box {
        min-width: 50%;
        border: 1px solid #eee;
        max-height: $max-height !important;
        margin: 5px;
        overflow: hidden;
        border-radius: 5px;
        background: #fff;
        md-list {
          position: sticky;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 1;
          // background: #039be5;
          background: #2d3a52;
          color: #fff;
          padding: 0;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          md-list-item {
            font-family: "Roboto Condensed";
            font-size: 18px;
            font-weight: 300;
            span#hint {
              font-weight: 500;
            }
          }
        }
        md-progress-linear.upload-progress {
          .md-container {
            height: 4px;
          }
        }
        div.image-upload-area {
          position: relative;
          div.drop-area-temp {
            padding: 6px;
            position: relative;
            height: 520px;
            margin: 10px;
            overflow: hidden;
            border-radius: 4px;
            background: rgba(234, 234, 234, 0.2);
            img {
              // border-radius: 4px;
              // max-width: 100%;
              // width: 100%;
              // height: 100%;
              // max-height: 100%;
              // margin: auto;
              // display: block;
              // object-fit: cover;
              border-radius: 4px;
              height: 100%;
              margin: auto;
              display: block;
              -o-object-fit: cover;
              object-fit: contain;
              max-width: 100%;
              outline: none;
              @media screen and (max-width: 599px) {
                max-width: 100%;
              }
              @media screen and (min-width: 600px) and (max-width: 1280px) {
                max-width: 80%;
              }
            }
            // &:hover .show-me{
            //     padding: 10px;
            //     border-radius: 5px;
            //     text-align: center;
            //     overflow: scroll;
            //     display: block !important;
            //     position: absolute;
            //     // width: 500px;
            //     max-width: 500px;
            //     height: auto;
            //     max-height: auto;
            //     top: 0%;
            //     right: 0%;
            //     // z-index: 30;
            //     margin: auto auto;
            //     left: 0%;
            //     box-shadow: 0px 7px 32px -5px #2d3a52;
            //     background: #2d3a52;
              
            //   img{
            //     height: 500px;
            //     max-height: 500px;
            //     max-width: 100%;
            //     object-fit: contain;
            //   }
            // }
          }
        }
      }
    }
  }

  div.auto-prediction-temp-table-box {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    border: 1px solid #eee;
    border-radius: 5px;
    max-height: $max-height !important;
    margin: 5px;
    background: #fff;
    md-list{
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      background: #2d3a52;
      color: #fff;
      padding: 0;
    }
    div.temp-disp{
      overflow: hidden;
      table{
        width:100%;
        border-spacing: 0;
        thead {
          tr{
            height: 50px;
            th{
              color: #6f6f6f;
              font-size: 14px;
              padding: 10px;
              font-weight: 300;
              border-bottom: 1px solid #eaeaea;
              text-align: left;
            }
          }
        }
        tbody{
          tr{
            height: 50px;
            color: #424242;
            td{
              font-family: Quicksand,sans-serif;
              padding: 10px;
              border-bottom: 1px solid #eaeaea;
              font-weight: 500;
              outline: none;
              span.attr-val{
                color: #31b0de;
              }
            }
            &:hover{
              background: #f9f9f9;
            }
          }
        }
      }
    }
  }
  div.prediction-loading {
    height: 80%;
    div.prediction-loading-txt {
      text-align: center;
      margin-top: 15px;
      font-size: 10px;
      color: #999999;
    }
  }
 
}
section.live-demo {
  // padding: 0px 42px;
  padding: 0px 42px 34px 42px;
  overflow: hidden;
  @media screen and (max-width: 600px) {
    padding: 42px 0;
  }
  @media screen and (min-width: 600px) and (max-width: 1279px) {
    padding: 30px 42px;
  }
  h2.title {
    color: #2d3a52;
    text-align: center;
    @media screen and (min-width: 1920px) {
      font-size: 34px;
    }
  }
  section.slik-wrap {
    overflow: hidden;
    padding: 0px 40px;
    // background: #fff;
    @media screen and (max-width: 599px) {
      padding: 30px 10px;
    }
    div.img-carousel {
      // width: 60%;
      width: 90%;
      margin: 0 auto;
      text-align: center;
      @media screen and (max-width: 599px) {
        width: 100%;
      }
      .md-button.md-icon-button{
        vertical-align: top;
        margin: 16px 0px 0px 0px;
      }
    }
    div.slick-carousel {
      padding-top: 12px;
      display: inline-block;
      margin: 0px 5%;
      div.item {
        div.img-holder {
          img {
            max-width: 58px;
            margin: 0 auto;
            height: auto;
            border-radius: 4px;
            margin-bottom: 4px;
            outline: none;
            cursor: pointer;
          }
        }
      }
    }
    .active-thumbnail {
      border: 1px solid #2d3a52;
    }
  }
  div.count{
    margin-top:8px;
    span.current-page{
      font-size: 25px;
    }
  }
}

//Img Dialog

md-dialog.predictions-dialog{
  md-dialog-content.dialog-img-wrap{
    md-card.product-image{
      div.img-large-div{
        outline: none;
        .normal-broad-image-view {
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
          object-fit: contain;
          transition: all .1s ease-in-out;
          outline: none;
      }
      .enlarge-image-view {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: all 0.1s ease-in-out;
        transform: scale(2);
        position: relative;
        top: 5%;
        margin: 25% 1% 10% 24%;
      }
      .zoom-add-style {
        cursor: zoom-out;
        overflow: scroll;
      }
      
      .zoom-remove-style {
        cursor: zoom-in;
      }
      }
    }
  }
}

