<top-menu></top-menu>
<md-card class="upload-temp-layout" flex-gt-md="80" layout="row" layout-wrap>
  <div class="section-upload-temp" flex="100">
    <h1>Extract Invoice Details</h1>
    <!-- <p>Upload Product content including Title, Description, ICV Documents &amp;</p> -->
  </div>
  <div class="upload-temp-wrapper" flex="100" layout="row" layout-sm="row" layout-xs="row" layout-align="center center"
    layout-wrap>
    <md-card class="analysis-form" flex-gt-sm="70" flex-sm="100" layout="row" flex-xs="90" layout-wrap>
      <div class="form-desc" style="width:100%;">
        <form name="uploadFormMultiple" layout="row" layout-wrap>
          <!-- PRIMARY IMAGE/PDFs UPLOAD  -->
          <div layout="row" layout-align="start center" flex-xs="90" flex-gt-xs="100">
              <!-- <md-input-container class="md-block" flex> -->
                <md-autocomplete id="auto" flex required
                                ng-disabled="false"
                                md-input-name="autocompleteField"
                                md-no-cache="true"
                                md-selected-item="uploadTemplatesCtrl.selectedItem"
                                md-selected-item-change="uploadTemplatesCtrl.onTemplateSelect(item)"
                                md-search-text="uploadTemplatesCtrl.tempInitial"
                                md-items="item in uploadTemplatesCtrl.searchTemplate(uploadTemplatesCtrl.tempInitial)"
                                md-item-text="item.template_name"
                                md-input-minlength="3"
                                md-floating-label="Template Name">
                    <md-item-template>
                        <span md-highlight-text="uploadTemplatesCtrl.tempInitial" md-highlight-flags="^i">{{item.template_name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No Templates matching "{{uploadTemplatesCtrl.tempInitial}}" were found.
                    </md-not-found>
                    <div ng-messages="uploadFormMultiple.autocompleteField.$error" ng-if="uploadFormMultiple.autocompleteField.$touched">
                        <div ng-message="required">You <b>must</b> mention the Template Name.</div>
                        <div ng-message="minlength">Your entry is not long enough.</div>
                    </div>
                </md-autocomplete>
              <!-- </md-input-container> -->
          </div>
          <md-input-container flex="100">
            <div layout="row" class="primaryImageUploadSection" layout-xs="column" layout-align="center center">
              <md-button 
                class="md-icon-button md-raised img-upload-btn" ng-model="uploadTemplatesCtrl.process_file" aria-label="Upload project file"
                layout="row" ngf-drag-over-class="'dragover'" ngf-drop="uploadTemplatesCtrl.uploadPrimaryFile($files)" ng-disabled="primaryCsvFiles.length"
                ngf-select="uploadTemplatesCtrl.uploadPrimaryFile($files)" ngf-pattern="'image/*,.pdf'" ngf-accept="'image/*,.pdf'" ngf-multiple="true">
                <md-icon>photo_camera</md-icon>
              </md-button>
              <span class="img-label">{{ primaryCsvFiles.length }} file uploaded</span>
              <span flex></span>
              <span ng-if="primaryCsvFiles.length <1" class="reminder">*Atleast one (Image/Pdf) required <small></small></span>
              <!-- <span ng-if="!docError" class="reminder">Please upload  xlsx files </span> -->
            </div>
            <!-- <div layout="row" class="img-array-disp" layout-xs="row" layout-sm="row" layout-wrap layout-align="center center">
              <div class="image-container" ng-repeat="file in primaryCsvFiles">
                <div ngf-thumbnail="file" class="thumb">{{file.name}}</div>
                <md-icon ng-click="uploadTemplatesCtrl.removePrimaryFile($index)">clear</md-icon>
              </div>
            </div> -->

            <p ng-if="primaryCsvError == true">
              <md-icon class="md-warn">error_outline</md-icon>&nbsp;
              <span style="color: red;font-size: 12px;">Some of the files are invalid!!</span>
            </p>
          </md-input-container>
          
          <div class="btn-disp" layout="row" flex="100" layout-align="center center">
              <md-button class="predict-btn md-primary md-raised" offset="22" scroll-to="result-area"
              ng-click="uploadTemplatesCtrl.submitTemplates($event)"
              ng-disabled="(primaryCsvFiles.length<1) || primaryCsvError || selectedTempName == undefined || uploadFormMultiple.$invalid ">
              UPLOAD</md-button>
            <md-button class="reset-btn md-raised reset" ng-click="uploadTemplatesCtrl.resetInput()">
              Reset
            </md-button>
          </div>
        </form>
      </div>
    </md-card>
  </div>
</md-card>
