<!-- ======================footer section=========== -->

   
   <div class="bottom-footer" layout-gt-sm="row" layout-align-gt-sm="space-between end">
   <p class="copyright" flex-gt-sm="15">&copy; 2018 CrowdANALYTIX</p>
   <div flex="75"></div>
   
   </div>
   