<top-menu></top-menu>
<md-card class="tab-layout" ng-init="account.getMe()">
    <div ng-cloak>
        <md-content>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab>
                <md-tab-label>
                    <md-icon>how_to_reg</md-icon><span class="tab-label">Profile</span>
                </md-tab-label>
                <md-tab-body>
                    <div layout="row" layout-align="center center" flex>
                        <md-card flex="40" flex-xs="100" flex-sm="60" class="myAccount">
                            <md-card-content>
                                <form name="accountForm" ng-submit="account.updateAccountInfo(accountInfo.email,accountInfo.firstName,accountInfo.lastName)">
                                    <div layout="row" layout-align="center center">
                                        <div layout="row">
                                            <md-icon class="headIcon">perm_contact_calendar</md-icon>
                                            <h3 class="form-head">Account Details</h3>
                                        </div>
                                    </div>
                                    <!-- Email -->
                                    <div layout="row">
                                    <md-input-container flex>
                                        <label>Email</label>
                                        <input type="email" ng-model="accountInfo.email" name="email" required/>
                                        <div ng-messages="accountForm.email.$error">
                                        <div ng-message="required">Email is required</div>
                                        <div ng-message="email">Enter a valid email</div>
                                        </div>
                                    </md-input-container>
                                    </div>
                                    <!-- UserName -->
                                    <div layout="row">
                                    <md-input-container flex>
                                        <label>Username</label>
                                        <input type="text" ng-model="accountInfo.username" name="username" ng-disabled="true" required/>
                                        <div ng-messages="accountForm.username.$error">
                                        <div ng-message="required">Username is required</div>
                                        </div>
                                    </md-input-container>
                                    </div>
                                    <div layout="row" layout-xs="column" layout-sm="column">
                                    <!-- First Name for Account -->
                                        <md-input-container flex>
                                            <label>First name</label>
                                            <input type="text" ng-model="accountInfo.firstName" name="first_name" required/>
                                            <div ng-messages="accountForm.first_name.$error">
                                            <div ng-message="required">First Name is required</div>
                                            </div>
                                        </md-input-container>
                                        <!-- Last Name for Account -->
                                        <md-input-container flex flex-offset-gt-sm="10">
                                            <label>Last name</label>
                                            <input type="text" ng-model="accountInfo.lastName" name="last_name" required/>
                                            <div ng-messages="accountForm.last_name.$error">
                                            <div ng-message="required">Last Name is required</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout="row">    
                                        <p class="role-label">Roles</p>
                                        <md-chips ng-model="accountInfo.roles" readonly="true" md-removable="account.removable">
                                        </md-chips>   
                                    </div>
                                    <div layout="row">
                                        <md-button type="submit" ng-disabled="accountForm.$invalid || updateReqInProcess" class="md-primary no-caps md-raised"  flex>Update</md-button>
                                    </div>
                                </form>
                            </md-card-content>
                        </md-card>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <md-icon>vpn_key</md-icon><span class="tab-label">Password Reset</span>
                    
                </md-tab-label>
                <md-tab-body>
                    <div layout="row" flex layout-align="center center">
                        <md-card flex="40" flex-xs="100" flex-sm="60" class="myAccount">
                            <md-card-content>
                            <form ng-submit="account.resetPassword(passwordInfo)" name="changePasswordForm" layout="column">
                                <div layout="row" layout-align="center center">
                                    <div layout="row">
                                        <md-icon class="pwdIcon">vpn_key</md-icon>
                                        <h3 class="form-head">Change Password</h3>
                                    </div>
                                </div>
                                <md-input-container>
                                <label>Current Password</label>
                                <input type="password" name="currentPassword" ng-model="passwordInfo.oldPassword" required/>
                                <div ng-messages="changePasswordForm.currentPassword.$error">
                                    <div ng-message="required">Current password is required</div>
                                </div>
                                </md-input-container>
                                <md-input-container>
                                <label>New Password</label>
                                <input type="password" name="newPassword1" ng-model="passwordInfo.newPassword" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}/" required/>
                                <div ng-messages="changePasswordForm.newPassword1.$error">
                                    <div ng-message="required">Type the new password</div>
                                    <div ng-message="pattern">Minimum six characters, at least one uppercase and lowercase letter, number and a special character</div>
                                </div>
                                </md-input-container>
                                <md-input-container>
                                <label>Confirm Password</label>
                                <input type="password" name="newPassword2" ng-model="passwordInfo.confirmPassword" required confirm-password="passwordInfo.newPassword"/>
                                <div ng-messages="changePasswordForm.newPassword2.$error">
                                    <div ng-message="required">Retype password</div>
                                    <div ng-message="checkPassword">Passwords do not match</div>
                                </div>
                                </md-input-container>
                                <div>
                                <md-button ng-disabled="changePasswordForm.$invalid || account.changePasswordSubmitted" type="submit" class="md-primary md-raised no-caps">Change Password</md-button>
                                </div>
                            </form>
                            </md-card-content>
                        </md-card>
                    </div>
                </md-tab-body>
            </md-tab>
          </md-tabs>
        </md-content>

