md-card.tab-layout{
    margin: 110px auto 30px auto !important;
     width: 90%;
     .tab-label {
         margin-left: 5px;
         text-transform: none;
     }
     md-ink-bar {
         color: #039be5;
         background: #039be5;
     }
     md-card.myAccount {
        @media screen and (max-width: 600px) {
            margin: 0 auto;
        }
        @media screen and (min-width:600px) and (max-width: 960px) {
            margin: 50px auto;
        }
        margin: 50px 0;
        md-card-content {
         padding: 35px;
         .form-head {
            font-weight: 400;
         }
         .headIcon,.pwdIcon {
            margin: 17px 7px 17px 0px;
         }
         md-input-container {
           font-size: 12px;
           input {
             font-size: 12px;
           }
         }
         .no-caps {
             text-transform: none;
         }
         .role-label {
             font-size: 12px;
             margin-right: 10px;
         }
         .md-chips {
             box-shadow: none;
             font-size: 12px;
         }
        }
      }
     
}