<top-menu></top-menu>
<md-card style="margin-top:80px;" class="tab-layout">
    <div ng-cloak>
        <md-content>
          <md-tabs md-dynamic-height md-border-bottom md-selected="tabIndex" ng-click="admin.getListOfUser()">
            <md-tab>
                <md-tab-label>
                    <md-icon>contacts</md-icon>
                    <span class="tab-label">Users</span>
                </md-tab-label>
                <md-tab-body>
                    <div class="table-layout">
                        <md-toolbar class="md-table-toolbar md-primary">
                            <div class="md-toolbar-tools" layout="row">
                            <span></span><span class="title">User Record</span>
                            <span flex></span>
                            
                            <!-- <span>
                                <md-button class="md-icon-button miw" ng-click="">
                                <md-icon>refresh</md-icon>
                                <md-tooltip md-direction="top">Refresh List</md-tooltip>
                                </md-button>
                            </span> -->
                            </div>
                        </md-toolbar>
                        <md-table-container>
                            <table md-table ng-model="selectedProducts" md-progress="promise">
                                <thead md-head md-order="name">
                                    <tr md-row>
                                        <!-- <th md-column>Date</th> -->
                                        <th md-column> User Id </th>
                                        <th md-column><span>Username </span></th> 
                                        <th md-column><span>Display Name </span></th>
                                        <th md-column><span>Email</span></th> 
                                        <th md-column>Company</th>
                                        <th md-column><span>Roles</span></th> 
                                        <th md-column><span>Registered Date</span></th>
                                        <th md-column><span>Last logged in</span></th>
                                        <th md-column><span></span></th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row md-select="user" md-auto-select ng-repeat="user in userList" >
                                        <td md-cell>{{user.userId}}</td>
                                        <td md-cell>{{user.username}}</td>
                                        <td md-cell>{{user.displayName}}</td>
                                        <td md-cell>{{user.email}}</td>
                                        <td md-cell>{{user.company_name}}</td>
                                        <td md-cell>
                                            <md-chips ng-model="user.roles"  
                                                md-on-add="admin.addRole($chip, user.username)"
                                                md-on-remove="admin.removeRole($chip,user.username)" md-add-on-blur="true"
                                                md-removable="admin.removable" placeholder="Assign new role ..">
                                                <!-- <md-autocomplete
                                                    md-selected-item="admin.selectedItem"
                                                    md-search-text="admin.searchText"
                                                    md-items="item in admin.querySearch()"
                                                    md-item-text="item"
                                                    placeholder="Assign new role ..">
                                                    <span md-highlight-text="admin.searchText">{{item}}</span>
                                                </md-autocomplete>
                                                <md-chip-template>
                                                    <span>
                                                    <strong>{{$chip}}</strong>
                                                    </span>
                                                </md-chip-template> -->
                                            </md-chips>
                                        </td>
                                        <td md-cell>{{user.registeredDate|date:'mediumDate'}}</td>
                                        <td md-cell>{{user.lastLogin|date:'mediumDate'}}</td>
                                        <td md-cell><md-button class="md-icon-button md-warn"><md-icon ng-click="admin.deleteUser(user.userId)">delete</md-icon></md-button><md-tooltip md-direction="bottom">Delete</md-tooltip></td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination ng-if="userList" md-limit-options="[5, 10, 25, 50]"
                                                    md-limit="query.size"
                                                    md-page="query.page"
                                                    md-total="{{ query.total_items }}"
                                                    md-on-paginate="admin.paginateUserTable"
                                                    md-page-select></md-table-pagination>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab ng-click="admin.getRequiredDetails()">
                <md-tab-label>
                    <md-icon>ballot</md-icon>
                    <span class="tab-label">Create User</span>
                </md-tab-label>
                <md-tab-body>
                    <md-card class="createUser" flex="50" flex-xs="100" flex-sm="60">
                        <md-card-content>
                            <div layout="row" layout-align="center center">
                                <div layout="row">
                                    <md-icon class="newUserIcon">perm_contact_calendar</md-icon>
                                    <h3 class="form-head">Create new user</h3>
                                    <span flex></span>
                                    <!-- <md-button class="md-icon-button reset">
                                        <md-icon ng-click="admin.refreshUserCreationForm()">loop</md-icon>
                                        <md-tooltip md-direction="bottom">Reset</md-tooltip>
                                    </md-button> -->
                                </div>
                            </div>
                            <form name="createUser" ng-submit="admin.createUser(create)">
                                <div layout="row" layout-sm="column" layout-xs="column">
                                    <md-input-container class="md-block">
                                        <label>First Name</label>
                                        <input type="text" ng-model="create.first_name" name="fname" required/>
                                        <div ng-messages="createUser.fname.$error">
                                            <div ng-message="required">First Name is required</div>
                                        </div> 
                                    </md-input-container>
                                    <md-input-container flex-offset-gt-sm="10" class="md-block">
                                        <label>Last Name</label>
                                        <input type="text" ng-model="create.last_name" name="lname" required/>
                                        <div ng-messages="createUser.lname.$error">
                                            <div ng-message="required">Last Name is required</div>
                                        </div> 
                                    </md-input-container>
                                </div>
                                <md-input-container class="md-block">
                                    <label>Email</label>
                                    <input type="email" ng-model="create.email" name="email" required/>
                                    <div ng-messages="createUser.email.$error">
                                        <div ng-message="required">Email is required</div>
                                        <div ng-message="email">Enter a valid email</div>
                                    </div> 
                                </md-input-container>
                                <div layout="row" layout-sm="column" layout-xs="column">
                                    <div layout="row" flex-gt-sm="50">
                                        <md-input-container class="md-block">
                                            <label>Username</label>
                                            <input type="text" ng-model="create.username" name="username" required ng-blur="admin.checkUsernameValidity(create.username)"/>
                                            <div ng-messages="createUser.username.$error">
                                                <div ng-message="required">User Name is required</div>
                                            </div> 
                                        </md-input-container>
                                        <md-button class="valid-tick-mark md-icon-button" ng-if="usernameValidityStatus!=null && usernameValidityStatus == true">
                                            <md-icon>done_all</md-icon>
                                            <md-tooltip md-direction="right">Username is Valid</md-tooltip>
                                        </md-button><md-button class="invalid-mark md-icon-button" ng-if="usernameValidityStatus!=null && usernameValidityStatus == false">
                                            <md-icon>error</md-icon>
                                            <md-tooltip md-direction="right">Username is invalid. Please enter another name.</md-tooltip>
                                        </md-button>

                                    </div>
                                    <md-input-container flex-offset-gt-sm="10" flex-gt-sm="40" class="md-block">
                                        <label>Password</label>
                                        <input type="password" name="password" ng-model="create.password" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}/" required/>
                                        <div ng-messages="createUser.password.$error">
                                            <div ng-message="required">Type the new password</div>
                                            <div ng-message="pattern">Minimum six characters, at least one uppercase and lowercase letter, number and a special character</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <md-input-container class="md-block">
                                    <label>Company</label>
                                    <md-select ng-model="create.company_name" required>
                                        <md-option ng-repeat="company in companies" value="{{company}}">
                                        {{company}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Role</label>
                                    <md-select ng-model="create.role" required>
                                        <md-option ng-repeat="role in userRoles" value="{{role}}">
                                        {{role}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <div layout="row">
                                    <md-button ng-disabled="createUser.$invalid || admin.createUserSubmitted || usernameValidityStatus == false" type="submit" class="md-primary md-raised no-caps createUserBtn" flex>Register User</md-button>
                                </div>
                            </form>
                        </md-card-content>
                    </md-card>
                </md-tab-body>
            </md-tab>
         </md-tabs>
        </md-content>
    </div>
</md-card>



