div.table-layout {
    @media screen and (max-width:600px ) {
        margin:10px; 
     }
    margin: 40px;
    table {
        border: 1px solid #dedada;
        .md-chips {
            font-size: 12px;
        }
    }
}
.createUser {
    @media screen and (max-width:600px ) {
       margin:0 auto; 
    }
    @media screen and (min-width:600px ) {
        margin:50px auto; 
     }
    .newUserIcon {
        margin: 17px 7px 17px 0px;
    }
    h3.form-head {
        font-weight: normal !important;
    }
    form {
        padding: 30px;
        .md-button.valid-tick-mark {
            md-icon {
                color: #42c542;
                font-size: 30px;
                margin-top: 3px;
            }
        }
        .md-button.invalid-mark {
            md-icon {
                color: red;
                font-size: 30px;
                margin-top: 3px;
            }
        }
    }
}