<md-dialog class="additional-filter-dialog" flex="50">
    <md-dialog-content>
        {{filters}}
        <div>
            <md-list layout="row" class="header">
                <md-list-item layout="row" layout-align="space-between center">
                    <span>Filter based on Attributes</span>
                    <span flex></span>
                    <span>
                        <md-button class="md-icon-button md-primary" ng-click="closeDialog()">
                            <md-icon>close</md-icon>
                            <md-tooltip md-direction="top">Close</md-tooltip>
                        </md-button>
                    </span>
                </md-list-item>
            </md-list>
        </div>
        <div class="filter-body">
            <div class="filter-row" layout="row" ng-repeat="(index, i) in filters.filter">
                <span class="numbering">{{$index+1}}</span>
                <md-input-container flex-gt-sm="30">
                    <label>Filter By</label>
                    <md-select ng-model="filters.filter[index].key" ng-change="getValueForThis(filters.filter[index].key)">
                      <md-option ng-repeat="item in attrFilter.attributes" ng-value="item">
                        {{item}}
                      </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex-gt-sm="40" flex-xs="100" flex-sm="100">
                    <label>Value</label>
                    <md-select ng-model="filters.filter[index].value" 
                                md-on-close="timeline.clearSearchCategory()"
                                data-md-container-class="selectdemoSelectHeader"
                                multiple>
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchValueInitial" style="width:100%;padding:10px;" 
                                    type="search"
                                    ng-keydown="$event.stopPropagation()"
                                    placeholder="Search for a value.."
                                    class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="value">
                        <md-option ng-value="value" ng-repeat="value in value_list |
                            filter:searchValueInitial">{{value}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
            <div class="btn-arrangement" layout="row">
                <md-button class="md-primary" ng-click="addFilter()">Add Filter</md-button>
                <span flex></span>
                <md-button class="md-raised md-primary" ng-click="applyFilters(attrFilter.pt)">Apply</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>