<md-dialog flex="50">
    <md-dialog-content>
        <div class="edit-desc-dialog" layout-align="center center">
            <md-list layout="row" class="header">
                <md-list-item layout="row" layout-align="space-between center">
                    <span>Description </span>
                    <span flex></span>
                    <span>
                        <md-button class="md-icon-button md-primary" ng-click="closeDialog()">
                            <md-icon>close</md-icon>
                            <md-tooltip md-direction="top">Close</md-tooltip>
                        </md-button>
                    </span>
                </md-list-item>
            </md-list>
            <div class="content"  layout="column" >
                <md-input-container class="md-block">
                    <label>Short Description</label>
                    <input type="text" ng-model="editedShortDesc" ng-value="productDesc.shortDesc" name="shortDesc">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Long Description</label>
                    <input type="text" ng-model="editedLongDesc" ng-value="productDesc.longDesc" name="longDesc">
                </md-input-container>
                <md-button flex="20" class="publish md-primary md-raised">Publish</md-button>
            </div>
    </md-dialog-content>
</md-dialog>