<md-dialog flex="50" aria-label="Edit Predictions">
    <form ng-cloak>
        <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Predictions</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
             <md-icon >close</md-icon>
            </md-button>
        </div>
        </md-toolbar>
    
        <md-dialog-content>
            <div class="md-dialog-content">
                <!-- <pre>
                {{editableData | json}}
                </pre> -->
                <div class="temp-disp" layout="row" layout-align="center center" ng-if="editableData.length != 0">
                    <!-- Predictions Table -->
                    <table ng-if="!editableData">
                        <thead>
                        <th>ATTRIBUTE</th>
                        <th>VALUES</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="prediction in editableData track by $index" >
                            <td  style="width: 30%;">
                            <span class="disc"></span>{{ prediction.attribute }}
                            </td>
        
                            <td style="width: 33%;">
                            <!-- <span class="attr-val">
                                <small>
                                    {{
                                    prediction.prediction.length
                                        ? prediction.prediction.join(", ")
                                        : "Not Available"
                                    }}
                                </small>
                            </span> -->
                            <span class="attr-val">
                                <small>
                                    {{
                                        prediction.prediction
                                    }}
                                </small>
                                </span>
                            
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <form 
              name="editForm"
              layout="column">
                        <table flex="90">
                        <thead>
                            <th>ATTRIBUTE</th>
                            <th>VALUES</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="prediction in editableData track by $index" >
                            <td  style="width: 40%;">
                                <span class="disc"></span>{{ prediction.attribute }}
                            </td>
            
                            <td style="width: 60%;">
                                <!-- <span class="attr-val">
                                <small>
                                    {{
                                        prediction.prediction.length
                                        ? prediction.prediction.join(", ")
                                        : "Not Available"
                                    }}
                                </small>
                                </span> -->
                                <span class="attr-val">
                                    <md-input-container style="margin:0;padding-top: 20px;">
                                        <input value="{{prediction.prediction}}" type="text" ng-model="editableData[$index].prediction">
                                    </md-input-container>
                                    <!-- <small>
                                        {{
                                        prediction.prediction
                                        }}
                                    </small> -->
                                </span>
                            
                            </td>
                            </tr>
                        </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </md-dialog-content>
    
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="saveData(editableData)">
                Save
            </md-button>
            <md-button class="md-warn md-raised" ng-click="closeDialog()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>