<md-dialog flex="50">
    <md-dialog-content>
        <div class="edit-title-dialog" id="predictions" layout-align="center center">
            <md-list layout="row" class="header">
                <md-list-item layout="row" layout-align="space-between center">
                    <span>Title </span>
                    <span flex></span>
                    <span>
                        <md-button class="md-icon-button md-primary" ng-click="closeDialog()">
                            <md-icon>close</md-icon>
                            <md-tooltip md-direction="top">Close</md-tooltip>
                        </md-button>
                    </span>
                </md-list-item>
            </md-list>
            <div class="content"  layout="column" >
                <md-input-container class="md-block">
                    <!-- <label>Title</label> -->
                    <input type="text" ng-model="editedTitle" ng-value="productTitle.title" name="title">
                </md-input-container>
                <md-button flex="20" class="publish md-primary md-raised">Publish</md-button>
            </div>
    </md-dialog-content>
</md-dialog>