<md-dialog class="pt-select" flex="70">
    <md-toolbar>
        <div class="md-toolbar-tools">
          <div style="overflow: hidden;color:#fff"> Id: <span style="margin-left:4px;color:#31b0de;">{{formReview.job_id}}</span></div>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="pt-cont-wrp" flex="100">
          <div class="pt-prediction" flex="100" layout="column" layout-align="space-around center">
                  <div class="form-values" flex="100" layout-xs="column" layout-sm="column" layout-gt-sm="row" layout-align="space-around center">
                      <div class="key" layout-xs="row" layout-sm="row" layout-gt-sm="row" flex-xs="100" flex-sm="100" flex-gt-sm="30">
                        <md-icon>data_usage</md-icon>
                        <h3>Status :</h3>
                      </div>
                      <div class="value" layout-xs="column" layout-sm="column" layout-gt-sm="row" flex-xs="100" flex-sm="100" flex-gt-sm="70">
                        <p>
                            <span style="color:#31b0de;">{{formReview.job_status}}</span>
                        </p>
                       </div>
                  </div>

                  <div class="form-values" ng-if="formReview.job_name" flex="100" layout-xs="column" layout-sm="column" layout-gt-sm="row" layout-align="space-around center">
                      <div class="key" layout-xs="row" layout-sm="row" layout-gt-sm="row" flex-xs="100" flex-sm="100" flex-gt-sm="30">
                        <md-icon>how_to_reg</md-icon>
                        <h3>Job Name :</h3>
                      </div>
                      <div class="value" layout-xs="column" layout-sm="column" layout-gt-sm="row" flex-xs="100" flex-sm="100" flex-gt-sm="70">
                          <p flex>
                              <span style="color:#31b0de;" flex>{{formReview.job_name}}</span>
                          </p>
                      </div>
                  </div>

                  <div class="form-values" ng-if="formReview.start_date" flex="100" layout-xs="column" layout-sm="column" layout-gt-sm="row" layout-align="space-around center">
                      <div class="key" layout-xs="row" layout-sm="row" layout-gt-sm="row" flex-xs="100" flex-sm="100" flex-gt-sm="30">
                        <md-icon>insert_invitation</md-icon>
                        <h3>Start Date :</h3>
                      </div>
                         
                      <div class="value" layout-xs="column" layout-sm="column" layout-gt-sm="row" flex-xs="100" flex-sm="100" flex-gt-sm="70">
                          <p>
                              <span style="color:#31b0de;">{{formReview.start_date | date}}</span>
                          </p>
                      </div>
                  </div>

                  <div class="form-values" ng-if="formReview.start_date" flex="100" layout-xs="column" layout-sm="column" layout-gt-sm="row" layout-align="space-around center">
                      <div class="key" layout-xs="row" layout-sm="row" layout-gt-sm="row" flex-xs="100" flex-sm="100" flex-gt-sm="30">
                        <md-icon>insert_invitation</md-icon>
                        <h3>End Date :</h3>
                      </div>
                      <div class="value" layout-xs="column" layout-sm="column" layout-gt-sm="row" flex-xs="100" flex-sm="100" flex-gt-sm="70">
                        <p>
                            <span style="color:#31b0de;">{{formReview.end_date | date}}</span>
                        </p>
                    </div>
                  </div>

                  <div class="form-values" ng-if="formReview.scraping_order" flex="100" layout-xs="column" layout-sm="column" layout-gt-sm="row" layout-align="space-around center">
                      <div class="key" layout-xs="row" layout-sm="row" layout-gt-sm="row" flex-xs="100" flex-sm="100" flex-gt-sm="30">
                        <md-icon>toc</md-icon>
                        <h3>Scraping Order :</h3>
                      </div>
                        <div class="value" layout-xs="column" layout-sm="column" layout-gt-sm="row" flex-xs="100" flex-sm="100" flex-gt-sm="70">
                            <p ng-repeat="scrap in scrapRespArry track by $index" flex>
                              <span flex class="val-chip"> {{scrap.name}}</span>
                            </p>
                        </div>
                      </div>
            
                 </div>
          <md-divider style="margin: 12px 0px;"></md-divider>
          <!-- <div class="attr-prediction" flex="100" layout="row" layout-align="center center">
            <span flex></span>
          </div> -->
          <div class="go-btn-wrp" layout="row" flex="100" layout-align="center center">
      <!-- ui-sref="product-status" -->
              <md-button class="md-primary md-raised" offset="22" scroll-to="result-area" ng-click="sendSelection()"
                ng-disabled="" >
              History
              </md-button>
          </div>   
    </md-dialog-content>
</md-dialog>