<md-dialog flex="50">
        <md-dialog-content>
            <div class="this-dialog" id="predictions" layout-align="center center">
                <md-list layout="row" class="header">
                    <md-list-item layout="row" layout-align="space-between center">
                        <span>Title and Description </span>
                        <span flex></span>
                        <span>
                            <md-button class="md-icon-button" ng-click="closeDialog()">
                                <md-icon>close</md-icon>
                                <md-tooltip md-direction="top">Close</md-tooltip>
                            </md-button>
                        </span>
                    </md-list-item>
                </md-list>
                <md-list class="content-title-desc">
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>Title</h3>
                            <p>{{tdDetail.title}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>Description</h3>
                            <p ng-bind-html="tdDetail.description.toString() | unsafe"></p>
                        </div>
                    </md-list-item>
                </md-list>
        </md-dialog-content>
    </md-dialog>