<md-dialog flex="50">
    <md-dialog-content>
        <div class="this-dialog" id="predictions" layout-align="center center">
            <md-list layout="row" class="header">
                <md-list-item layout="row" layout-align="space-between center">
                    <span>Attributes</span>
                    <span flex></span>
                    <span>
                        <md-button class="md-icon-button" ng-click="closeDialog()">
                            <md-icon>close</md-icon>
                            <md-tooltip md-direction="top">Close</md-tooltip>
                        </md-button>
                    </span>
                </md-list-item>
            </md-list>
            <table class="ng-scope">
                    <thead>
                        <tr>
                        <th>ATTRIBUTE</th>
                        <th>PREDICTION</th>
                        <th>PROBABILITY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ng-scope" ng-repeat = "item in attDetail.detail">
                            <td class="ng-binding">{{item.attribute}}</td>
                            <td class="prediction ng-binding">
                                <span ng-repeat="value in item.result">{{value.prediction}}
                                    <span ng-if="item.result.indexOf(value) < item.result.length-1">,&nbsp;</span>
                                </span>    
                            </td>
                            <td class="ng-binding">
                                <span ng-repeat="value in item.result">{{value.probability}}</span>  
                            </td>
                        </tr>
                    </tbody>
    </md-dialog-content>
</md-dialog>