<md-dialog class="product-detail" flex="65">
        <md-dialog-content class="md-padding" >
            <div class="product-key-value">
                <p class="output">
                    <!-- <span class="item-key">Title:&nbsp;</span><br> -->
                    <p class="title" ng-bind-html="productDetail.detail.output.title.toString() | unsafe "></p>
                </p>
                <p class="output">
                    <span class="item-key">DESCRIPTION:&nbsp;</span><br>
                    <span class="item-value" ng-bind-html="productDetail.detail.output.description.toString() | unsafe "></span>
                </p>
                <!-- <p class="output">
                    <span class="item-key">LONG DESCRIPTION:&nbsp;</span><br>
                    <span class="item-value" ng-bind-html="productDetail.detail.output.long_description.toString() | unsafe "></span>
                </p> -->
                <p class="output">
                    <span class="item-key">CATEGORY TYPE:&nbsp;</span>
                    <span class="item-value">{{productDetail.detail.output.product_classification[1].prediction}}</span>
                </p>
                <p class="output">
                    <span class="item-key">SUB CATEGORY TYPE:&nbsp;</span>
                    <span class="item-value">{{productDetail.detail.output.product_classification[2].prediction}}</span>
                </p>
                <p class="output">
                    <span class="item-key">PRODUCT TYPE:&nbsp;</span>
                    <span class="item-value">{{productDetail.detail.output.product_classification[0].prediction}}</span>
                </p>
                <p class="output">
                    <span class="item-key">COMPANY:&nbsp;</span>
                    <span class="item-value">{{productDetail.detail.company}}</span>
                </p>
                <p class="output">
                    <span class="item-key">SUBMITTED DATE:&nbsp;</span>
                    <span class="item-value">{{productDetail.detail.submitted_date}}</span>
                </p>
                <p class="output">
                    <span class="item-key">PROCESSED DATE:&nbsp;</span>
                    <span class="item-value">{{productDetail.detail.processed_date}}</span>
                </p>
            </div>
            <!--  -->
        </div>
    </md-dialog-content>
</md-dialog>

