<md-dialog flex="50">
    <!-- <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Product Classification</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ptDetail.closeDialog()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar> -->
    <md-dialog-content>
        <div class="this-dialog" id="predictions" layout-align="center center">
            <md-list layout="row" class="header">
                <md-list-item layout="row" layout-align="space-between center">
                    <span>Product Classification</span>
                    <span flex></span>
                    <span>
                        <md-button class="md-icon-button" ng-click="closeDialog()">
                            <md-icon>close</md-icon>
                            <md-tooltip md-direction="top">Close</md-tooltip>
                        </md-button>
                    </span>
                </md-list-item>
            </md-list>
            <table class="ng-scope">
                    <thead>
                      <tr>
                        <th>ATTRIBUTE</th>
                        <th>PREDICTION</th>
                        <th>PROBABILITY</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr class="ng-scope" ng-repeat = "item in ptDetail.detail">
                      <td class="ng-binding">{{item.type}}</td>
                      <td class="prediction ng-binding">{{item.prediction}}</td>
                      <td class="ng-binding">{{item.probability}}</td>
                    </tr>
    </md-dialog-content>
</md-dialog>