<md-dialog hide-xs class="predictions-dialog" flex="70">
    <md-toolbar style="padding: 0px 20px 0px 20px;background-color: rgb(255, 255, 255);">
        <div class="md-toolbar-tools">
            <!-- <h2>Predictions</h2> -->
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon style="color: grey;" aria-label="Close dialog">close</md-icon>
                <md-tooltip md-direction="right">Close</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="dialog-img-wrap">
        <div layout="row" layout-xs="column" style="
        height: 85vh;
    ">
            <md-card class="product-image scroll_style" flex="100" flex-xs="100" layout="row" style="box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0);">
                <div id="zoomedImageDiv" class="img-large-div animated zoomIn scroll_style" ng-click="zoomItNow()" flex="100" flex-xs="80">
                    
                    <img class="normal-broad-image-view" ng-if="zoomCtrl.largeDetailImgSrc" src="{{zoomCtrl.API_URL+zoomCtrl.largeDetailImgSrc}}">
                    
                </div>
            </md-card>
        </div>
    </md-dialog-content>
</md-dialog>