<md-content class="history-wrap">
  <top-menu></top-menu>

  <!-- listing type gt-xs devices -->
  <section class="history-wrap">
    <div
      class="listing-layout-gt-sm"
      layout="column"
      flex-sm="95"
      flex-xs="100"
      flex="75"
    >
      <!-- Assisted -->
      <div class="table-layout">
        <md-toolbar class="md-table-toolbar md-primary">
          <div class="md-toolbar-tools" layout="row">
            <!-- <span></span>  -->
            <span class="title">History</span> <span flex></span>
            <!-- <md-menu-bar ng-if="timeline.selectedProductIds.length!=0">
                          <md-menu>
                              <md-button  style="background-color: #31b0de;"
                              class="md-icon-button" ng-mouseenter="$mdMenu.open()">
                              <md-icon style="color: #fff;">cloud_download</md-icon>
                              <md-tooltip md-direction="top">Download</md-tooltip>
                            </md-button>
                            
                            <md-menu-content width="2" ng-mouseleave="$mdMenu.close()">
                                <md-menu-item>
                                   
                                    <md-button ng-click="timeline.downloadFile('json')" target="_blank" style="padding-top: 0px;">JSON</md-button>
                                  </md-menu-item>
                                  <md-menu-item>
                                    <md-button ng-click="timeline.downloadFile('csv')" target="_blank" style="padding-top: 0px;">CSV</md-button>
                                  </md-menu-item>
                            </md-menu-content>
                            
                          </md-menu>
                        </md-menu-bar> -->

            <!-- <md-button ng-if="timeline.selectedProductIds.length!=0" style="background-color: red;" class="md-icon-button"
                    ng-click="timeline.removeRow($event)">
                    <md-icon style="color: #fff;">delete_forever</md-icon>
                    <md-tooltip md-direction="bottom">Remove</md-tooltip>
                  </md-button> -->

            <!-- <span>
                    <md-button ng-if="expandFilter" class="md-icon-button " ng-click="timeline.expandFilter()">
                      <img src="../../assets/img/filter3_clear.svg" alt="filter" alt="filter-image" class="logo"
                        style="width: 20px;margin-top: 4px;" />
                    </md-button>
                    <md-button ng-if="!expandFilter" class="md-icon-button" ng-click="timeline.expandFilter()">
                      <img src="../../assets/img/filter.svg" alt="filter" alt="filter-image" class="logo"
                        style="width: 19px;margin-top: 4px;" />
                    </md-button>
                  </span> -->

            <md-button
              class="md-icon-button refresh"
              ng-click="timeline.refreshMe()"
            >
              <md-icon>refresh</md-icon>
              <md-tooltip md-autohide md-direction="top">Refresh</md-tooltip>
            </md-button>
          </div>
        </md-toolbar>
        <!-- GTIN SEARCH BOX -->
        <!-- filter space -->
        <!-- <div class="filter-container md-dark-theme" ng-if="expandFilter"
                style="background: #fff;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;">
                <div layout="row" layout-align="center center">
                  <md-input-container flex-gt-sm="30" flex-xs="100" flex-sm="35" class="md-block">
                    <md-datepicker ng-model="launch.start_date" md-placeholder="Start date"
                      ng-change="timeline.getDataCorrespondingToDate(launch.start_date,launch.end_date)"></md-datepicker>
                  </md-input-container>
                  <md-input-container flex-gt-sm="30" flex-xs="100" flex-sm="35" class="md-block">
                    <md-datepicker ng-model="launch.end_date" md-placeholder="End date" ng-disabled="!launch.start_date"
                      md-min-date="launch.start_date"
                      ng-change="timeline.getDataCorrespondingToDate(launch.start_date,launch.end_date)"></md-datepicker>
                  </md-input-container>
        
                </div>
                <p style="padding-bottom: 30px;overflow:hidden;text-align:center; color: #e03535;font-size: 14px;display:block;"
                  ng-show="!dateValid">{{errDate}}
                </p>
                <md-progress-linear class="upload-progress" ng-show="!inProg" md-mode="indeterminate"></md-progress-linear>
              </div> -->

        <!--  -->
        <md-table-container class="table-container-wrap">
          <table
            class="history-table"
            ng-if="dateValid && total_pages != 0"
            id="data-tab"
            md-table
            ng-model="selectedProducts"
          >
            <thead md-head md-order="name">
              <tr md-row>
                <th md-column>
                  <span
                    >Id<span><br /></span
                  ></span>
                </th>
                <th style="width:20%" md-column>
                  <span
                    >Template Name <br />
                    <span style="color: rgba(0, 0, 0, 0.23);font-size: 9px;">
                    </span>
                  </span>
                </th>
                <!-- <th md-column >
                        <span>Start Date <span><br></span></span>
                      </th>
                      <th md-column>
                            <span>End Date <span><br></span></span>
                      </th> -->
                <th md-column>
                  <span
                    >Submitted At <span><br /></span
                  ></span>
                </th>
                <th md-column>
                  <span ng-if="companyName=='CAX'" 
                    >Company Name<span><br /></span
                  ></span>
                </th>
                <th md-column>
                  <span
                    >Submitted<span><br /></span
                  ></span>
                </th>

                <th md-column>
                  <span
                    >Processed <span><br /></span
                  ></span>
                </th>
                <th md-column>
                  <span
                    >Error<span><br /></span
                  ></span>
                </th>
                <th md-column>
                  <span
                    >% Completion<span><br /></span
                  ></span>
                </th>
                <th md-column style="text-align: center;">
                  <span
                    >Actions<span><br /></span
                  ></span>
                </th>
              </tr>
            </thead>
            <div>
              <md-progress-linear
                ng-if="loadingData == true"
                md-mode="indeterminate"
              ></md-progress-linear>
            </div>
            <p
              id="err-msg"
              style="padding:30px;overflow:hidden;text-align:center; color:#2d3a52;font-size: 16px;display:block;"
              ng-show="total_pages == 0"
            >
              NO DATA FOUND
            </p>
            <tbody md-body>
              <!--  ng-repeat-tr-->
              <tr
                md-row
                md-select="product"
                md-auto-select
                ng-repeat="item in tableData track by $index"
              >
                <td md-cell>
                  <small style="color:#31b0de">{{ item.batch_id }}</small>
                </td>
                <td ng-click="timeline.showPrediction($event,item)" md-cell>
                  {{ item.template_id__template_name }}
                </td>
                <!-- <td ng-click="timeline.showPrediction($event,item)" md-cell>
                        <div class="processed-wrap">
                          {{item.start_date | date}}
                        </div>
                      </td>
                      <td ng-click="timeline.showPrediction($event,item)"md-cell>
                            <div class="processed-wrap">
                            {{item.end_date | date}}
                            </div>
                      </td> -->

                <td md-cell>
                  <div class="processed-wrap">
                    {{ item.submitted_at | date: "medium" }}
                  </div>
                </td>
                <td md-cell>
                  <div ng-if="companyName=='CAX'" class="processed-wrap">{{ item.company_name }}</div>
                </td>
                <td md-cell>
                  <div class="processed-wrap">{{ item.submitted }}</div>
                </td>
                <td md-cell>
                  <div class="processed-wrap">{{ item.processed }}</div>
                </td>
                <td md-cell>
                  <div class="processed-wrap">{{ item.error }}</div>
                </td>
                <td md-cell ng-if="item.completion_percentage">
                  <div class="processed-wrap">
                    {{ item.completion_percentage }}
                  </div>
                </td>

                <td md-cell layout="row">
                  <md-button
                    style="cursor: pointer;"
                    md-no-ink
                    class="md-icon-button"
                    ng-click="timeline.showPredictions($event, item)"
                    ng-disabled="item.processed == 0"
                  >
                    <md-icon style="color: #2d3a52;">info</md-icon>
                    <md-tooltip md-autohide md-direction="top"
                      >Show Prediction</md-tooltip
                    >
                  </md-button>
                  <md-button
                    style="cursor: pointer;"
                    md-no-ink
                    class="md-icon-button"
                    href="{{ item.download_link }}"
                    target="_blank"
                    ng-disabled="item.processed == 0"
                  >
                    <md-icon style="color: #2d3a52;">cloud_download</md-icon>
                    <md-tooltip
                      ng-if="item.processed != 0"
                      md-autohide
                      md-direction="top"
                      >Download</md-tooltip
                    >
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <!-- Pagination -->

        <div
          class="pagination-wrap"
          layout="row"
          layout-align="center center"
          flex="100"
        >
          <div ng-if="dateValid && total_pages != 0" layout="row">
            <md-button
              class="md-icon-button cax-white"
              ng-disabled="current_page == 1"
              ng-click="timeline.paginateHistoryData(-1)"
            >
              <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
            <!-- <md-button style="width:50px;" class="md-icon-button">{{ current_page + " / " + total_pages }}
                    </md-button> -->
            <div class="count" layout="row">
              <span class="current-page">{{ current_page }}&nbsp/</span>
              <span class="total-page">&nbsp;{{ total_pages }}</span>
            </div>
            <md-button
              class="md-icon-button cax-white"
              ng-disabled="current_page == total_pages"
              ng-click="timeline.paginateHistoryData(1)"
            >
              <md-icon>keyboard_arrow_right</md-icon>
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <cax-footer></cax-footer> -->
</md-content>
