@import url('https://fonts.googleapis.com/css?family=Archivo+Black"');

md-content.history-wrap{
    background-color: rgb(250,250,250);
    height:100vh;
    section.history-wrap{
        position: relative;
        margin-top:20px;
        @media screen and (min-width: 768px) {
          margin-top: 48px;
          padding-top: 36px;
        }
        @media screen and (max-width: 768px) {
            margin-top: 75px;
        }
      .md-button.refresh{
        border-radius: 6px;
        md-icon{
            color:#fff;
        }
    
      }
      div.listing-layout-gt-sm {
        font-family: 'Quicksand', sans-serif;
        margin: 70px auto 40px auto;
        div.table-layout {
          margin: 12px;
          overflow: hidden;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          md-toolbar.md-table-toolbar {
            background-color: #2d3a52;
            color: white;
            min-height: 40px;
            font-size: 18px;
            font-weight: 300;
            md-button {
              color: #fff;
            }
            md-input-container.gtin-search-container {
              label {
                color: #fff;
              }
              .md-input {
                border-color: #fff;
              }
            }
          }
          md-table-container.table-container-wrap{
            table.history-table {
                position: relative;
                width: 100%;
                border-collapse: separate;
                overflow: hidden;
                border-spacing: 0px 4px;
                border:none;
                thead {
                  tr {
                    height: 56px;
                    th {
                      color: rgba(0, 0, 0, 0.54);
                      font-size: 12px;
                      font-weight: bold;
                      white-space: nowrap;
                      text-align: left;
                      padding:0;
                      &:first-child{
                        padding-left: 25px;
                      }
                    }
                  }
                }
                tbody{
                  height: 48px;
                  tr{
                    cursor: pointer;
                    outline: none;
                    background-color: #fff;
                    border-radius: 5px;
                    td{
                      outline: none;
                      color: rgba(0, 0, 0, 0.87);
                      font-size: 11px;
                      // padding: 0 10px;
                      text-align: left;
                      border:none;
                      .gtin_box{
                        margin: 6px 4px 1px 13px!important;
                      }
                    }
                  }
                }
                td {
                  div.img-thumbnail {
                    width: 40px;
                    height: 40px;
                    border-top:none;
                    img {
                      height: 100%;
                      width: 100%;
                      object-fit: contain;
                    }
                    
                    &:hover .show-me{
                      @media screen and (min-width: 960px) {
                        padding: 10px;
                        border-radius: 5px;
                        text-align: center;
                        overflow: visible;
                        display: block !important;
                        position: absolute;
                        bottom: 0;
                        width: 50%;
                        max-width: 50%;
                        height: 50%;
                        max-height: 50%;
                        top: 0;
                        right: 0%;
                        z-index: 50;
                        margin: auto auto;
                        left: 6%;
                        box-shadow: 0px 7px 32px -5px #2d3a52;
                        background: #fff;
                      }
                      img{
                        margin:auto;
                        max-width: 100%;
                      }
                    }
                  }
                 
                  .status-style{
                    font-size: 11px;
                    md-icon{
                      color:#039be5;
                    }
                  }
                  .success-style{
                    font-size: 11px;
                    md-icon{
                      color: #4CAF50;
                    }
                  }
                  .err-style {
                    font-size: 11px;
                    md-icon{
                      color:red;
                    }
                  }
                  .md-button.start {
                    background-color: #aed581;
                  }
                  .md-button.start:hover {
                    background-color: #80b543;
                  }
                }
              }
              
          }
          div.pagination-wrap{
            height: 63px;border-top: 1px solid rgba(189, 189, 189, 0.14);background: #2d3a52;color: #fff;margin-top: 5px;border-bottom-left-radius:5px;border-bottom-right-radius: 5px;
             div{
              .md-button.cax-white{
                md-icon{
                  color:#fff;
                }
              }
              div.count {
                span.total-page {
                  margin-top: 8px;
                }
                span.current-page {
                  font-size: 25px;
                  font-weight: 500;
                }
              }
             }
            }
        }
      }
      
      md-dialog.listings-dialog {
        max-width: 350px;
        md-dialog-content {
          padding: 20px;
          h3 {
            margin: 0;
            text-transform: uppercase;
            font-family: "Roboto Condensed";
            font-size: 20px;
            font-weight: 400;
          }
          h5 {
            font-family: "Quicksand", sans-serif;
          }
          p {
            font-family: "Quicksand", sans-serif;
            margin: 0 0 15px;
            font-weight: 300;
            font-size: 14px;
            a {
              text-decoration: none;
              color: #039be5;
            }
          }
          md-divider {margin-bottom: 20px;}
          md-radio-group {
            md-radio-button {
              font-size: 14px;
              font-weight: 340;
              line-height: 24px;
              span.probability-score {
                border-radius: 10px;
                padding: 5px;
                color: #039be5;
                font-weight: 500;
                background: aliceblue;
              }
              span.info {
                font-size: 11px;
                display: block;
                margin-top: -5px;
              }
            }
          }
        }
      }
      md-menu-content.md-menu-bar-menu.md-dense{
        max-height: none!important;
        padding: 0px 0!important;
      }
      md-menu-content {
        @media (min-width: 320px)
        {
          min-width: 90px!important;
        }
      }
      md-menu-bar{
        padding: 0 0px!important;
      }
      .gtin-style{
        text-decoration: none; color: #31b0de;
      }
      md-checkbox .md-icon{
        border-width: 1px!important;
      }
      md-checkbox.md-default-theme:not([disabled]).md-primary:not(.md-checked) .md-icon, md-checkbox:not([disabled]).md-primary:not(.md-checked) .md-icon{
        border-color: rgba(0, 0, 0, 0.43);
      }
      
      .thead-checkbox-coulmn{
        position:relative;
        div{
          @media screen and (max-width: 600px) {
            position:absolute;top: 10px;
            left: 2px;
          }
          @media screen and (min-width: 601px) and (max-width: 960px) {
            position:absolute;top: 10px;
            left: 2px;
          }
          @media screen and (min-width: 961px){
            position:absolute;top: 10px;left: 7px;
          }
        }
      }
      .tbody-checkbox-coulmn{
        position:relative;
        div{
          
          @media screen and (max-width: 600px) {
            position:absolute;top: 10px;
            left: 2px;
          }
          @media screen and (min-width: 601px) and (max-width: 960px) {
            position:absolute;top: 11px;
            left: 2px;
          }
      
          @media screen and (min-width: 961px){
            position:absolute;top: 11px;left: 7px;
          }
        }
      }
      
      md-select-value{
        span{
          font-size: 13px;
        }
      }
      
      md-option {
        font-size: 14px;
      }
      
      md-select-header{
        input{
          width: 91%;
          padding: 10px;
          border: none;
          outline: none;
          border-bottom: 1px solid rgba(128, 128, 128, 0.17);
        }
      }
      
      md-select-menu{
        md-content{
          padding: 10px;
        }
      }
      
      .md-datepicker-input{
        font-size: 13px!important;
      }
      
      md-menu-bar button{
        padding: 0 9px!important;
      }
    }
    
    .md-toolbar-tools > .md-button:last-child{
      margin-right:0 !important;
    }
    
    md-dialog{
      div.buttons-header{
        justify-content: flex-end !important;
        padding: 4px;
        .md-button.md-icon-button md-icon{
            color: #2d3a52;
          }
      }
      md-dialog-content.prediction-dialog{
        @media screen and (min-width: 960px) {
          padding: 0 16px 16px 16px !important;
        }
        div.analysis-section-wrap {
          div.section-cards {
            @media screen and (max-width: 599px) {
              padding: 0 !important;
            }
            div.section-hd {
              padding: 0 20%;
              text-align: center;
              h1 {
                font-size: 30px;
                font-weight: 300;
                line-height: 30px;
                margin: 0 0 5px;
                span {
                  font-size: 40px;
                  font-weight: 500;
                }
                @media screen and (max-width: 600px) {
                  font-size: 28px;
                }
              }
              p {
                margin: 0 0 10px;
                font-weight: 300;
                font-size: 14px;
                color: #78909c;
              }
            }
            position: relative;
            div.image-upload-box {
              max-width: 50%;
              border: 1px solid #eee;
              max-height:500px !important;
              height:500px;
              margin: 5px;
              overflow: hidden;
              border-radius: 5px;
              @media screen and (max-width: 959px) {
                max-width: 100%;
              }
              md-list {
                position: sticky;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1;
                background: #2d3a52;
                color: #fff;
                padding: 0;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                md-list-item {
                  font-family: "Roboto Condensed";
                  font-size: 18px;
                  font-weight: 300;
                  span#hint {
                    font-weight: 500;
                  }
                }
              }
              md-progress-linear.upload-progress {
                .md-container {
                  height: 4px;
                }
              }
              div.image-upload-area {
                div.drop-area-nutrition {
                  height:100%;
                  margin: 38px auto;
                  overflow: hidden;
                  border-radius: 4px;
                  background: rgba(234, 234, 234, 0.2);
                  div.txt {
                    animation: fadeIn 0.7s;
                    width: 25%;
                    background: rgba(0, 0, 0, 0.6);
                    position: absolute;
                    top: 10px;
                    font-size: 11px;
                    padding: 5px 5px 8px;
                    font-weight: bold;
                    color: #fff;
                    left: 10px;
                    border-radius: 2px;
                  }
                  .img-overlay {
                    md-icon {
                      display: none;
                    }
                  }
                  &:hover .show-me-img{
                    @media screen and (min-width: 960px) {
                      padding: 10px;
                      border-radius: 5px;
                      text-align: center;
                      overflow: scroll;
                      display: block !important;
                      position: absolute;
                      bottom: 0;
                      width: 80%;
                      max-width: 80%;
                      height: auto;
                      // max-height: auto;
                      top: 0;
                      right: 0%;
                      z-index: 80;
                      margin: auto auto;
                      left: 6%;
                      box-shadow: 0px 7px 32px -5px #2d3a52;
                      background: #fff;
                    }
                    img{
                      margin:auto;
                      margin: 100px;
                      max-width: 95%;
                      max-height: 95%;
                      transition: transform 0.25s ease;
                      cursor: zoom-in;
                    }
                    img:active {
                      transform: scale(1.8);
                    }
                  }
                 
                }
                div.image-url-footer {
                  width: 100%;
                  padding: 10px;
                  margin: -10px 0;
                  div.image-url-section {
                    md-input-container {
                      margin-bottom: 0;
                      input {
                        color: #6b6b6b;
                        font-size: 12px;
                        font-family: "Quicksand", sans-serif;
                      }
                    }
                    div.submit-area {
                      margin: 10px auto;
                      button {
                        font-weight: 500;
                      }
                    }
                  }
                }
              }
            }
            div.prediction-nutrition-table-box{
            overflow-y: auto;
            overflow-x: hidden;
            position: relative;
            border: 1px solid #eee;
            border-radius: 5px;
            max-height: 500px !important;
            height:500px;
            margin: 5px;
            md-list{
              position: -webkit-sticky;
              position: sticky;
              top: 0;
              left: 0;
              width: 100%;
              z-index: 1;
              background: #2d3a52;
              color: #fff;
              
              padding: 0;
              
                .md-button.md-icon-button {
                  md-icon{
                    color:#fff !important;
                  }
                }
              
            }
            }
          }
          div.nutrition-disp {
          color: rgba(0, 0, 0, 0.6);
        table {
          border-spacing: 0;
          width: 100%;
          thead {
            tr {
              height: 50px;
              th {
                color: #6f6f6f;
                font-size: 14px;
                padding: 10px;
                font-weight: 300;
                border-bottom: 1px solid #eaeaea;
                text-align: left;
                &:first-child {
                  text-align: left;
                }
                &:last-child {
                  text-align: left;
                }
              }
            }
          }
          tbody {
            tr.show-attributes {
              display: inline-block;
            }
            tr.sub-attribute {
              font-size: 12px;
              height: 45px;
              td {
                font-weight: 300;
              }
              td:last-child {
                font-size: 12px !important;
              }
            }
            tr {
              height: 50px;
              color: #424242;
              td.prediction {
                // color: $app-accent-color !important;
                md-icon {
                //   @include md-icon-size(20px);
                  color: #546e7a !important;
                }
              }
              td.na {
                color: #90a4ae !important;
                md-icon {
                //   @include md-icon-size(20px);
                  color: #90a4ae;
                }
              }
              td {
                font-family: "Quicksand", sans-serif;
                padding: 10px;
                border-bottom: 1px solid #eaeaea;
                font-weight: 500;
                outline: none;
                span.product-type-info {
                  outline: none;
                  width: 10px;
                  cursor: pointer;
                  md-icon {
                    outline: none;
                    // @include md-icon-size(20px);
                    color: #ef972d;
                  }
                }
                span.disc::after {
                  content: ".";
                  list-style-type: disc;
                  font-size: 30px;
                  margin-right: 8px;
                  line-height: 0;
                }
                &:first-child {
                  &:hover {
                    cursor: pointer;
                  }
                }
                &:nth-child(2) {
                  width: 55%;
                }
                &:last-child {
                  text-align: left;
                  font-family: "Quicksand", sans-serif;
                  font-size: 16px;
                  width: 45%;
                  md-input-container {
                    width: 300px;
                    margin: 0;
                  }
                }
                div.hex-box {
                  width: 20px;
                  height: 20px;
                  border: 1px solid #eee;
                }
                span.display-name {
                  margin: 5px;
                  font-size: 12px;
                }
                span.info {
                  width: 20px;
                  md-icon {
                    font-size: 15px;
                    width: 15px;
                    height: 15px;
                    margin-top: 7px;
                    color: lightgray;
                  }
                }
              }
    
            }
          }
        }
      }
      
        }
      }
    }
    .md-button[disabled] md-icon{
      color: lightslategray !important;  
    }
}