<!-- <top-menu></top-menu> -->
<div
  class="login-form"
  layout="row"
  layout-align="center center"
  flex-xs="60"
  flex-sm="40"
  flex-gt-sm="30"
>
  <md-card class="login-form-card" flex>
    <div class="app-logo-box">
      <img src="../../assets/img/datax-ai-logo-black.svg" alt="macnica logo" />
    </div>
    <form
      name="loginForm"
      ng-submit="login.authenticateUser(loginInfo)"
      layout="column"
    >
      <!-- username field -->
      <md-input-container>
        <!-- <label>Username</label> -->
        <md-icon>perm_identity</md-icon>
        <input
          name="username"
          aria-label="username"
          ng-model="loginInfo.username"
          placeholder="UserName"
          md-autofocus
          required
        />
        <div ng-messages="loginForm.username.$error">
          <div ng-message="required">*username is required</div>
        </div>
      </md-input-container>

      <!-- password field -->
      <md-input-container>
        <!-- <label>Password</label> -->
        <md-icon>lock</md-icon>
        <input
          type="password"
          name="password"
          aria-label="password"
          ng-model="loginInfo.password"
          placeholder="Password"
          required
        />
        <div ng-messages="loginForm.password.$error">
          <div ng-message="required">*password is required</div>
        </div>
      </md-input-container>

      <div class="submit-btn" layout="row" layout-align="space-between end">
        <span class="cax tnc">
          &copy; 2019
          <a target="_blank" href="//crowdanalytix.com">CrowdANALYTIX Inc</a>
        </span>
        <md-button
          type="submit"
          class="md-raised md-primary"
          ng-disabled="loginForm.$invalid"
          >Login<md-icon>exit_to_app </md-icon>
        </md-button>
      </div>
    </form>
  </md-card>
</div>
<!-- <footer-el></footer-el> -->
