$app-color: #1e88e5;

div.login-form {
  // font-family: 'Roboto Condensed', sans-serif;
  z-index: 10;
  margin:0 auto;
  md-card.login-form-card {
    box-shadow: 2px 3px 36px -8px rgba(197, 191, 191, 0.6);
    @media screen and (max-width: 600px) {
      margin: 24% 0px 24% 0px;
    }
    @media screen and (max-width: 960px) {
      margin: 40% 0px 18% 0px;
    }
    @media screen and (min-width: 960px) {
      margin: 35% 0px 22% 0px;
    }
    @media screen and (min-width: 1350px) {
      margin: 45% 0px 48% 0px;
    }
    padding: 10px 25px 10px;
    margin: 12% 0px 12% 0px;
    div.app-logo-box {
      margin: 25px 0;
      text-align: center;
      font-size: 42px;
      img {
        width: 50%;
      }
    }
    form {
      // margin-bottom: 30px;
    }
    md-input-container {
      margin-bottom: 0px !important;
    }
    span.tnc {
      color: #757575;
      font-size: 10px;
      text-align: center;
      a {
        cursor: pointer;
        color: lighten($app-color, 10%);
        text-decoration: none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:hover {
          color: $app-color;
        }$app-color: #1e88e5;
      }
    }
    span.cax {
      margin: 10px 0;
    }
  }
  div.submit-btn {
    // margin: 0 auto;
    .md-button {
      text-transform: none;
    }
  }
}



