<md-content class="templates-wrap">

        <top-menu></top-menu>

        <!-- listing type gt-xs devices -->
        <section class="templates-wrap">
          <div class="listing-layout-gt-sm" layout="column" flex-sm="95" flex-xs="100" flex="70">
            <!-- Assisted -->
            <div class="table-layout">
              <md-toolbar class="md-table-toolbar md-primary">
                <div class="md-toolbar-tools" layout="row">
                  <!-- <span></span>  -->
                  <span class="title">Templates</span>
                  <span flex></span>
                  <!-- <md-menu-bar ng-if="templatesCtrl.selectedProductIds.length!=0">
                          <md-menu>
                              <md-button  style="background-color: #31b0de;"
                              class="md-icon-button" ng-mouseenter="$mdMenu.open()">
                              <md-icon style="color: #fff;">cloud_download</md-icon>
                              <md-tooltip md-direction="top">Download</md-tooltip>
                            </md-button>
                            
                            <md-menu-content width="2" ng-mouseleave="$mdMenu.close()">
                                <md-menu-item>
                                   
                                    <md-button ng-click="templatesCtrl.downloadFile('json')" target="_blank" style="padding-top: 0px;">JSON</md-button>
                                  </md-menu-item>
                                  <md-menu-item>
                                    <md-button ng-click="templatesCtrl.downloadFile('csv')" target="_blank" style="padding-top: 0px;">CSV</md-button>
                                  </md-menu-item>
                            </md-menu-content>
                            
                          </md-menu>
                        </md-menu-bar> -->
        
                  <!-- <md-button ng-if="templatesCtrl.selectedProductIds.length!=0" style="background-color: red;" class="md-icon-button"
                    ng-click="templatesCtrl.removeRow($event)">
                    <md-icon style="color: #fff;">delete_forever</md-icon>
                    <md-tooltip md-direction="bottom">Remove</md-tooltip>
                  </md-button> -->
        
                  <!-- <span>
                    <md-button ng-if="expandFilter" class="md-icon-button " ng-click="templatesCtrl.expandFilter()">
                      <img src="../../assets/img/filter3_clear.svg" alt="filter" alt="filter-image" class="logo"
                        style="width: 20px;margin-top: 4px;" />
                    </md-button>
                    <md-button ng-if="!expandFilter" class="md-icon-button" ng-click="templatesCtrl.expandFilter()">
                      <img src="../../assets/img/filter.svg" alt="filter" alt="filter-image" class="logo"
                        style="width: 19px;margin-top: 4px;" />
                    </md-button>
                  </span> -->
        
                  <md-button class="md-icon-button refresh"
                    ng-click="templatesCtrl.refreshMe()">
                    <md-icon>refresh</md-icon>
                    <md-tooltip md-autohide md-direction="top">Refresh</md-tooltip>
                  </md-button>
                </div>
              </md-toolbar>
              <md-table-container class="table-container-wrap">
                  
                <table class="history-table" ng-if="dateValid && total_pages != 0" id="data-tab" md-table ng-model="selectedProducts">
                  <thead md-head md-order="name">
                    <tr md-row>
                        <th md-column style="width:15%">
                            <span>Id<span><br></span></span>
                        </th>
                      <th style="width:20%" md-column>
                        <span> Image <br>
                          <span style="color: rgba(0, 0, 0, 0.23);font-size: 9px;">
                          </span>
                        </span>
                      </th>
                      <th  md-column>
                          <span>Template Name<span><br></span></span>
                      </th>
                      <th md-column>
                        <span>Created At <span><br></span></span>
                     </th>
                     <th md-column>
                      <span>Actions<span><br></span></span>
                    </th>
                    </tr>
                  </thead>
                  <div><md-progress-linear ng-if="loadingData == true" md-mode="indeterminate"></md-progress-linear></div>
                  <p id="err-msg" style="padding:30px;overflow:hidden;text-align:center; color:#2d3a52;font-size: 16px;display:block;"
                    ng-show="!dateValid || total_pages == 0">NO DATA FOUND
                  </p>
                  <tbody md-body>
                    <!--  ng-repeat-tr-->
                    <tr md-row md-select="product" md-auto-select ng-repeat="item in tableData track by $index" >
                      <!-- <td class="tbody-checkbox-coulmn" md-cell>
                        <div>
                          <md-checkbox ng-model="list[item.product_id].isChecked" class="md-primary" aria-label="childCheckbox"
                            ng-change="templatesCtrl.checkBoxVal($index)"></md-checkbox>
                        </div>
                      </td> -->
                      <!-- <td></td> -->
                      <td ng-click="templatesCtrl.showPrediction($event,item)"  md-cell>
                          {{item.id}}
                      </td>
                      <td ng-click="templatesCtrl.showPrediction($event,item)"  md-cell>
                          <div class="image-container" ng-if="item.image_url != ''">
                              <img ng-src="{{API_URL+item.image_url}}" alt="cax-image">
                              <div class="show-me" style="display: none;">
                                  <img ng-src="{{API_URL+item.image_url}}" />
                              </div>    
                          </div>
                          <div class="image-container" ng-if="item.image_url == ''" >
                              <img src="../../assets/img/noimage.png" alt="no_image">
                              <div class="show-me" style="display: none;">
                                  <img src="../../assets/img/noimage.png" alt="no_image" />
                              </div>    
                          </div>
                      </td>
                      <td md-cell>
                          <div class="processed-wrap">
                            {{item.template_name}}
                          </div>
                      </td>
                      <td md-cell>
                          <div class="processed-wrap">
                            {{item.created_at | date }}
                          </div>
                      </td>
                      <td md-cell>
                        <div class="processed-wrap">
                          <md-button class="md-icon-button" ngclipboard
                          style="cursor: pointer;"
                          md-no-ink
                          data-clipboard-text="{{ item.template_name }}">
                            <md-icon>file_copy</md-icon>
                            <md-tooltip md-direction="right">Copy</md-tooltip>
                          </md-button>
                          <md-button
                          style="cursor: pointer;"
                          md-no-ink
                          class="md-icon-button"
                          ng-click="templatesCtrl.deleteTemplate($event, item)"
                        >
                          <md-icon style="color: red;">delete</md-icon>
                          <md-tooltip md-autohide md-direction="top"
                            >Delete</md-tooltip
                          >
                        </md-button>
                        </div>
                      </td>
                      
                      
                      <!-- <td  md-cell style="width: 14%;">
                        <md-button  style="cursor: pointer;" md-no-ink ng-disabled="false" ng-if="item.status === 'COMPLETED'"
                          class="md-icon-button cax-cyan success-style">
                          <md-icon>done_all</md-icon>
                          <md-tooltip md-autohide md-direction="top">Success</md-tooltip>
                        </md-button>

                        <md-button  style="cursor: pointer;" md-no-ink ng-disabled="false" ng-if="item.status === 'FAILED'"
                          class="md-icon-button cax-cyan err-style">
                          <md-icon>cancel</md-icon>
                          <md-tooltip md-autohide md-direction="top">Failed</md-tooltip>
                        </md-button>
        
                        <md-button ng-if="item.status == 'SCHEDULED'" style="cursor: pointer;" md-no-ink ng-disabled="false"
                          class="md-icon-button">
                          <md-icon style="color: gray;">error_outline</md-icon>
                          <md-tooltip md-autohide md-direction="top">Pending</md-tooltip>
                        </md-button>
                        <md-button ng-if="item.status == 'PROCESSING'" style="cursor: pointer;" md-no-ink ng-disabled="false"
                          class="md-icon-button">
                          <md-icon style="color: gray;">autorenew</md-icon>
                          <md-tooltip md-autohide md-direction="top">Processing</md-tooltip>
                        </md-button>
                        <md-button ng-if="item.status == 'CANCELED'" style="cursor: pointer;" md-no-ink ng-disabled="false"
                          class="md-icon-button">
                          <md-icon style="color: red;">cancel_presentation</md-icon>
                          <md-tooltip md-autohide md-direction="top">Cancelled</md-tooltip>
                        </md-button>
                      </td>   -->          
                      
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
              <!-- Pagination -->
        
                <div class="pagination-wrap" layout="row" layout-align="center center" flex="100">
                  <div ng-if="dateValid && total_pages != 0" layout="row">
                    <md-button class="md-icon-button cax-white" ng-disabled="current_page == 1"
                      ng-click="templatesCtrl.paginateHistoryData(-1)">
                      <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                    <!-- <md-button style="width:50px;" class="md-icon-button">{{ current_page + " / " + total_pages }}
                    </md-button> -->
                    <div class="count" layout="row">
                      <span class="current-page">{{ current_page }}&nbsp/</span>
                      <span class="total-page">&nbsp;{{ total_pages }}</span>
                    </div>
                    <md-button class="md-icon-button cax-white" ng-disabled="current_page == total_pages"
                      ng-click="templatesCtrl.paginateHistoryData(1)">
                      <md-icon>keyboard_arrow_right</md-icon>
                    </md-button>
                  </div>
                </div>
            </div>
          </div>
        </section>
      <!-- <cax-footer></cax-footer> -->
</md-content>