@import url('https://fonts.googleapis.com/css?family=Archivo+Black"');

md-content.templates-wrap{
    // background-color: rgb(250,250,250);
    background-color: #eee;
    height:100vh;
    section.templates-wrap{
        position: relative;
        margin-top:20px;
        @media screen and (min-width: 768px) {
          margin-top: 48px;
          padding-top: 36px;
        }
        @media screen and (max-width: 768px) {
            margin-top: 75px;
        }
      .md-button.refresh{
        border-radius: 6px;
        md-icon{
            color:#fff;
        }
    
      }
      div.listing-layout-gt-sm {
        font-family: 'Quicksand', sans-serif;
        margin: 70px auto 40px auto;
        
        div.table-layout {
          margin: 12px;
          overflow: hidden;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          md-toolbar.md-table-toolbar {
            background-color: #2d3a52;
            color: white;
            min-height: 40px;
            font-size: 18px;
            font-weight: 300;
            md-button {
              color: #fff;
            }
            md-input-container.gtin-search-container {
              label {
                color: #fff;
              }
              .md-input {
                border-color: #fff;
              }
            }
          }
          md-table-container.table-container-wrap{
            table.history-table {
                // position: relative;
                width: 100%;
                border-collapse: separate;
                overflow: hidden;
                border-spacing: 0px 4px;
                border:none;
                thead {
                  tr {
                    height: 56px;
                    th {
                      color: rgba(0, 0, 0, 0.54);
                      font-size: 12px;
                      font-weight: bold;
                      white-space: nowrap;
                      text-align: left;
                      padding:0;
                      &:first-child{
                        padding-left: 25px;
                      }
                    }
                  }
                }
                tbody{
                  tr{
                    cursor: pointer;
                    outline: none;
                    background-color: #fff;
                    border-radius: 5px;
                    height: 70px;
                    div.image-container{
                      outline-style: none;cursor: pointer; width: 60px;
                      height: 60px;
                      // margin: 0 auto;
                      border: 1px solid rgba(0, 0, 0, 0.05);
                      img{
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                      }
                      &:hover .show-me{
                        @media screen and (min-width: 1700px) {
                          padding: 10px;
                          border-radius: 5px;
                          text-align: center;
                          overflow: visible;
                          display: block !important;
                          position: absolute;
                          width: 500px;
                          max-width: 500px;
                          height: auto;
                          max-height: auto;
                          top: 28%;
                          right: 0%;
                          z-index: 30;
                          margin: auto auto;
                          // margin-top: -8%;
                          left: 0%;
                          box-shadow: 0px 7px 32px -5px #2d3a52;
                          background: #fff;
                        }
                        @media screen and (min-width: 960px) and (max-width: 1699px)  {
                          padding: 10px;
                          border-radius: 5px;
                          text-align: center;
                          overflow: visible;
                          display: block !important;
                          position: absolute;
                          width: 500px;
                          max-width: 500px;
                          height: auto;
                          max-height: auto;
                          top: 28%;
                          right: 0%;
                          z-index: 30;
                          margin: auto auto;
                          // margin-top: -8%;
                          left: 0%;
                          box-shadow: 0px 7px 32px -5px #2d3a52;
                          background: #fff;
                        }
                        img{
                          // height: 90%;
                          // width: 100%;
                          height: 500px;
                          max-height: 500px;
                          width: 500px;
                          max-width: 500px;
                          object-fit: contain;
                        }
                      }
                    }
                    td{
                      outline: none;
                      color: rgba(0, 0, 0, 0.87);
                      font-size: 11px;
                      // padding: 0 10px;
                      text-align: left;
                      border:none;
                      
                    }
                  }
                }
                
              }
              
          }
          div.pagination-wrap{
            height: 63px;border-top: 1px solid rgba(189, 189, 189, 0.14);background: #2d3a52;color: #fff;margin-top: 5px;border-bottom-left-radius:5px;border-bottom-right-radius: 5px;
             div{
              .md-button.cax-white{
                md-icon{
                  color:#fff;
                }
              }
              div.count {
                span.total-page {
                  margin-top: 8px;
                }
                span.current-page {
                  font-size: 25px;
                  font-weight: 500;
                }
              }
             }
            }
        }
      }
      
      md-dialog.listings-dialog {
        max-width: 350px;
        md-dialog-content {
          padding: 20px;
          h3 {
            margin: 0;
            text-transform: uppercase;
            font-family: "Roboto Condensed";
            font-size: 20px;
            font-weight: 400;
          }
          h5 {
            font-family: "Quicksand", sans-serif;
          }
          p {
            font-family: "Quicksand", sans-serif;
            margin: 0 0 15px;
            font-weight: 300;
            font-size: 14px;
            a {
              text-decoration: none;
              color: #039be5;
            }
          }
          md-divider {margin-bottom: 20px;}
          md-radio-group {
            md-radio-button {
              font-size: 14px;
              font-weight: 340;
              line-height: 24px;
              span.probability-score {
                border-radius: 10px;
                padding: 5px;
                color: #039be5;
                font-weight: 500;
                background: aliceblue;
              }
              span.info {
                font-size: 11px;
                display: block;
                margin-top: -5px;
              }
            }
          }
        }
      }
     
      
     
    }
    
    .md-button[disabled] md-icon{
      color: lightslategray !important;  
    }
}