<md-toolbar flex="100" class="app-toolbar" style="z-index:10">
  <div class="md-toolbar-tools" flex="100">
    <div class="cax-logo" flex-xs="20" flex-sm="15" flex-gt-sm="20">
      <a ui-sref=""
        ><img
          src="{{ 'https://beta.forms.datax.ai' + logoImgUrl }}"
          alt="macnica-logo"
      /></a>
      <!-- <p>crowdX</p> -->
    </div>
    <span flex></span>
    <div
      class="menu-item"
      ui-sref="dashboard"
      ui-sref-active="active"
      layout="column"
      layout-align="center center"
    >
      <md-button class="md-icon-button" aria-label="More">
        <span>Create Template</span>
      </md-button>
      <!-- <span class="txt">Dashboard</span> -->
    </div>
    <!-- <div class="menu-item" ui-sref-active="active"  layout="column"
      layout-align="center center">
      <a class="md-icon-button" aria-label="More" href="">
        <span>IMAGE ANNOTATION</span>
      </a>
    </div> -->
    <div
      class="menu-item"
      ui-sref="templates"
      ui-sref-active="active"
      layout="column"
      layout-align="center center"
    >
      <md-button class="md-icon-button" aria-label="More">
        <span>Templates</span>
      </md-button>
      <!-- <span class="txt">History</span> -->
    </div>
    <div
      class="menu-item"
      ui-sref="upload-templates"
      ui-sref-active="active"
      layout="column"
      layout-align="center center"
    >
      <md-button class="md-icon-button" aria-label="More">
        <span>Extract</span>
      </md-button>
      <!-- <span class="txt">History</span> -->
    </div>
    <div
      class="menu-item"
      ui-sref="history"
      ui-sref-active="active"
      layout="column"
      layout-align="center center"
    >
      <md-button class="md-icon-button" aria-label="More">
        <span>History</span>
      </md-button>
      <!-- <span class="txt">History</span> -->
    </div>
    <md-menu>
      <md-button
        aria-label="Open menu"
        class="md-icon-button userIcon"
        ng-click="$mdMenu.open()"
      >
        <md-icon md-menu-origin style="font-size:28px;">account_circle</md-icon>
        <!--  class="user-panel" class="md-icon-button userIcon <img src="../../../assets/img/user.png" alt="User" md-menu-origin/> -->
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-disabled="true">
            <!-- <md-icon md-menu-align-target>perm_identity</md-icon> -->
            Hi, {{ userData }}
          </md-button>
        </md-menu-item>
        <!-- <md-menu-item ng-if="isSuperAdmin || isUser">
          <md-button ui-sref="account-settings">
            <md-icon md-menu-align-target>settings</md-icon>
            Account Settings
          </md-button>
        </md-menu-item> -->
        <!-- <md-menu-item ng-if="isSuperAdmin">
          <md-button ui-sref="admin-console">
            <md-icon>desktop_windows</md-icon>
            Admin Console
          </md-button>
        </md-menu-item> -->
        <md-menu-item>
          <md-button ng-click="TopMenu.logoutUser()">
            <!-- <md-icon>lock_open</md-icon> -->
            Sign Out
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
