<top-menu></top-menu>
<md-card ng-if="detail" class="product-detail" layout="row" layout-xs="column">
    <md-card class="product-image" flex="40" flex-xs="100" layout="row">
        <div class="img-thumbnail" flex="15" flex-xs="20" layout="column">
            <div class="img-thumb" id="{{ 'div' + $index }}" ng-mouseover="detailCtrl.magnifyImg(image,$index)"
                ng-mouseleave="detailCtrl.unFocusDiv($index)" ng-repeat="image in detail.public_links.image">
                <img src="{{image}}">
            </div>
        </div>
        <div class="img-large" flex="85" flex-xs="80">
            <img ng-if="largeImgSrc" src="{{largeImgSrc}}">
            <img ng-if="!largeImgSrc" src="{{detail.public_links.image[0]}}">
            <!-- <img ng-if="largeImgSrc == undefined" src="../../assets/img/noimage.png"> -->
        </div>
    </md-card>
    <md-card class="product-description" flex="60">
        <div class="bread-crumb">
            <span>{{detail.output.product_classification[1].prediction}}</span><span>&nbsp;>&nbsp;</span>
            <span>{{detail.output.product_classification[2].prediction}}</span><span>&nbsp;>&nbsp;</span>
            <span>{{detail.output.product_classification[0].prediction}}</span>
        </div>
        <!-- <p ng-if="detail.output.title != 'None' && detail.output.title != null " class="img-title"><span>{{detail.output.title}}</span></p>
        <p ng-if="detail.output.title === 'None' || detail.output.title == null "> </p>
        <p ng-if="detail.output.brand === 'None'" class="item-brand"><span></span></p>
        <p ng-if="detail.output.brand != 'None' && detail.output.brand != null" class="item-brand"><span>by&nbsp;</span><span  class="brand">{{detail.output.brand}}</span></p> -->
        <p class="item-brand"><span></span></p>
        <!-- <div class="product-desc">
            <h6 class="desc-label"><span>DESCRIPTION</span></h6>
            <p ng-if="description.toString() != 'None' && description != null " class="desc-content" ng-bind-html = "description" ></p>
            <p ng-if="description.toString() === 'None' || description == null " class="desc-content">Not Available</p>
        </div> -->
        <div class="attributes">
            <div class="attr-label">ATTRIBUTES<span flex></span>
                <!-- <md-icon class="edit-icon" ng-click="makeFieldsEditable = true">edit</md-icon> -->
            </div>
            <div class="attr-table-layout">
                <table flex="100">
                    <tbody>
                        <tr ng-repeat="attr in definitePredictions">
                            <td class="attr-label" style="padding:12px 0px;">{{attr.attribute}}</td>
                            <td class="attr-value">
                                <ul>
                                    <li ng-repeat="value in attr.result" style="padding:0px !important;">
                                        <span>{{value.prediction}}</span><span
                                            ng-if="attr_result.indexOf(value) < attr_result.length-1">,&nbsp;</span>
                                    </li>
                                </ul>
                            </td>
                            <!-- <td ng-if="makeFieldsEditable == true" class="edit-icon"><span><md-icon ng-click="detailCtrl.editAttribute(attr,$event)" class="edit-icon">edit</md-icon></span></td> -->
                        </tr>
                        <tr class="show-more-attr" ng-show="!detailCtrl.showNonePredictions"
                            ng-click="detailCtrl.showNonePredictions = true;">
                            <td colspan=3>
                                <md-icon>add_circle</md-icon>
                                Additional Attributes
                            </td>
                        </tr>
                        <tr ng-repeat="attr in nonePredictions track by $index"
                            ng-show="detailCtrl.showNonePredictions">
                            <td class="attr-label">{{attr.attribute}}</td>
                            <td class="attr-value">
                                <ul>
                                    <li ng-repeat="value in attr.result" style="color:#c7bdbd !important;">
                                        <span>{{value.prediction}}</span><span
                                            ng-if="attr_result.indexOf(value) < attr_result.length-1">,&nbsp;</span>
                                    </li>
                                </ul>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </md-card>
</md-card>

<!-- <footer-el class="dashboard-footer"></footer-el> -->