md-card.product-detail {
    box-shadow: none;
    margin: 65px 0;
    @media screen and (min-width:320px) and (max-width:600px){
        margin: 55px 0;
    }
    md-card.product-image {
        margin: 25px 20px 25px 40px;
        height: 500px;
        @media screen and (min-width:320px) and (max-width:600px){
            margin: 10px;
            height: 400px;
        }
        box-shadow: none;
        div.img-thumbnail {
            margin-right: 10px;
            div.img-thumb {
                // width: 50px;
                height: 50px;
                padding: 5px;
                border: 1px solid #f0f0f0;
                margin: 2px 0;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;  
                }
            }
        }
        div.img-large {
            height: 500px;
            width: 300px;
            padding: 20px 0px;
            border: 1px solid #f0f0f0;
            img {
                width: 100%;
                height:100%;
                object-fit: contain;
            }
        }
    }
    md-card.product-description {
        margin: 25px 40px 25px 0px;
        padding: 2px 10px;
        box-shadow: none;
        @media screen and (min-width:320px) and (max-width:600px) {
            margin: 50px 20px;
        }
        div.bread-crumb {
            font-size: 12px;
            color: #878787;
        }
        p.img-title {
            margin-bottom: 2px;
            font-family: Roboto Arial,sans-serif; 
            color: #111;
            font-size: 18px;
            font-weight: 400;
            md-icon.edit-icon {
                margin-left: 20px;
                cursor: pointer;
                font-size: 20px;
            }
        }
        p.item-brand {
            margin-top: 0px;
            font-size: 14px;
            span.brand {
                color: #31b0de;
            }
        }
        div.product-desc {
            h6.desc-label {
                font-size: 12px;
                color: #efa215;
                margin: 2px 0px;
                md-icon.edit-icon {
                    margin-left: 20px;
                    cursor: pointer;
                    font-size: 20px;
                }
            }
            p.desc-content {
                font-size: 14px;
                line-height: 1.25;
                color: #212121;
            }
        }
        div.attributes {
            border: 1px solid #f0f0f0;
            div.attr-label {
                font-size: 12px;
                color: #efa215;
                margin: 2px 0px;
                font-weight: 600;
                padding: 15px 30px 15px 24px;
                border-bottom: 1px solid #f0f0f0;
                md-icon.edit-icon {
                    margin-left: 20px;
                    cursor: pointer;
                    font-size: 20px;
                }
            }
            div.attr-table-layout {
                // max-height: 335px;
                overflow: auto;
                font-size: 12px;
                table {
                    width: 90%;
                    margin: 10px 23px 10px;
                    tr  {
                        // margin: 16px!important;
                        td.attr-label {
                            color: #878787;
                            padding-right: 8px;
                            width: 50%;
                        }
                        td.attr-value {
                            line-height: 1;
                            word-break: break-word;
                            color: #212121;
                            width: 75%;
                            ul {
                                list-style-type: none;
                                li {
                                    display: inline!important;
                                    color: #31b0de;
                                }
                            }
                        }
                        td.edit-icon {
                            md-icon.edit-icon {
                                margin-left: 20px;
                                cursor: pointer;
                                font-size: 18px;
                            }
                        }      
                    }
                    tr.show-more-attr {
                        outline: none;
                        td {
                            text-align: center !important;
                            background: #31b0de;
                            color: #fff;
                            font-weight: 500;
                            font-family: 'Roboto', sans-serif;
                            padding: 8px 0px;
                            cursor: pointer;
                            md-icon {
                            color: #fff;
                            }
                        }
                    }
                }
            }  
        }
    }
}

.edit-title-dialog, .edit-desc-dialog, .edit-attr-dialog {
    md-list.header {
      position: sticky;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 1;
      background: #31b0de;
      color: #fff;
      padding: 0;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      md-list-item {
        font-family: 'Roboto Condensed';
        font-size: 18px;
        font-weight: 500;
        padding: 5px 15px;
      }
    }
    .content {
        margin: 20px;
        .publish {
            text-transform: none;
            margin: 0 auto;
            width: 15%;
        }
    }
}
.edit-attr-dialog {
    .content {
        div.attr-table-layout {
            height: 350px;
            overflow: auto;
            font-size: 12px;
            table {
                width: 90%;
                margin: 10px 23px 10px;
                tr  {
                    // margin: 16px!important;
                    td.attr-label {
                        color: #878787;
                        padding-right: 8px;
                        width: 50%;
                    }
                    td.attr-value {
                        line-height: 1;
                        word-break: break-word;
                        color: #212121;
                        width: 75%;
                        ul {
                            list-style-type: none;
                            li {
                                display: inline!important;
                            }
                        }
                    }
                    td.edit-icon {
                        md-icon.edit-icon {
                            margin-left: 20px;
                            cursor: pointer;
                            font-size: 18px;
                        }
                    }
                }
            }
            .publish-attr {
                text-transform: none;
                margin: 0 auto;
                width: 15%;
            }
        }   
    }
}