<!--
  /* Copyright (C) CrowdANALYTIX, Inc - All Rights Reserved.
  * Unauthorized copying of this file, via any medium is strictly prohibited.
  * CrowdANALYTIX owns the intellectual property in this source code unless stated otherwise.
  * Proprietary and confidential.
  *
  * Authored by Aditya Pratap Singh <aditya@crowdanalytix.net> 
  * Project: MACNICA INVOICE LABEL 
  * Date: 25-09-2019
  */
-->




<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- <link type="text/css" rel="stylesheet" href="./assets/annotorious-0.6.4/css/annotorious.css" />
    <script type="text/javascript" src="./assets/annotorious-0.6.4/annotorious.min.js"></script> -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body layout="column">
  <md-content>
    <ui-view></ui-view>
  </md-content>
</body>
</html>