@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500"); // Roboto Font
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500"); // Roboto Condensed Font
@import url("https://fonts.googleapis.com/css?family=Quicksand:500"); // Quicksand Font
@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); // Google Material Fonts

html,
body {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #eee;
}

.no-caps {
  text-transform: none;
}
md-content {
  background-color: #eee;
}

$app-color: rgb(30, 136, 229); // app
$toolbar-color: #757575;
md-toolbar.app-toolbar {
  padding: 0 1%;
  position: fixed;
  background: #fff;
  color: #2d3a52;
  border-bottom: 1px solid #e0e0e0;
  @media screen and (max-width: 600px) {
    padding: 0 4%;
  }
  div.md-toolbar-tools {
    @media screen and (max-width: 600px) {
      padding: 0px;
    }
  }
  /** select env styling **/
  md-input-container {
    color: #fff;
    md-select {
      font-size: 14px;
      md-select:not([disabled]):focus {
        color: #fff;
      }
      .md-select-icon {
        color: #fff !important;
      }
    }
  }
  div.active {
    button {
      md-icon {
        color: #31b0de !important;
      }
    }
    span.txt {
      color: #403a3a !important;
    }
  }
  div.cax-logo {
    a {
      text-decoration: none;
      overflow: hidden;
      display: block;
      // height:auto;
      vertical-align: middle;
      img {
        // width: 85px;
        height: 35px;
        vertical-align: middle;
      }
    }
  }
  div.menu-item {
    margin: 0 5px;
    .md-button {
      width: 100%;
    }
    span {
      font-size: 12px;
      color: gray;
    }
  }
  .md-menu {
    .md-button.userIcon {
      height: 4em;
      width: 4em;
      md-icon {
        color: gray;
        margin: 0;
      }
    }
  }
}

md-card.side-menu {
  height: 90%;
  margin: 0;
  margin-top: 65px;
  position: fixed;
  padding: 0px 6px;
  .md-button.md-icon-button {
    margin: 8px 6px;
  }
}

.slick-next,
.slick-prev {
  -webkit-text-fill-color: #7b7b7b;
}

p.no-data-msg {
  margin: 20px auto;
  font-size: 12px;
  text-align: center;
}

.bottom-footer {
  background: #011015;
  color: #fff;
  padding: 0px 25px;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  .copyright {
    color: gray;
    font-size: 12px;
    @media screen and (min-width: 960px) {
      max-width: 16%;
    }
  }
  .social-icons {
    @media screen and (min-width: 960px) {
      text-align: right;
      max-width: 11%;
    }
    img {
      width: 30px;
    }
  }
}

md-backdrop.md-menu-backdrop {
  background: none;
}
