<top-menu></top-menu>
<md-card class="home-layout" flex-gt-md="80" layout="row" layout-wrap>
  <div class="section-hd" flex="100">
    <h1>Create Template</h1>
    <!-- <p>Upload Product content including Title, Description, ICV Documents &amp;</p> -->
  </div>
  <div class="home-wrapper" flex="100" layout="row" layout-sm="row" layout-xs="row" layout-align="center center"
    layout-wrap>
    <md-card class="analysis-form" flex-gt-sm="70" flex-sm="100" layout="row" flex-xs="90" layout-wrap>
      <div class="form-desc" style="width:100%;">
        <form name="uploadForm" layout="row" layout-wrap>
          <!-- PRIMARY IMAGE UPLOAD  -->
          <div layout="row" layout-align="start center" flex-xs="90" flex-gt-xs="100">
            <md-input-container class="md-block" flex>
              <label>Template Name</label>
              <input type="text" name="template_name" ng-model="content.template_name" required/>
              <div ng-messages="uploadForm.template_name.$error" ng-if="uploadForm.template_name.$touched">
                  <div ng-message="required">Please Provide Template name</div>
              </div>
            </md-input-container>
          </div>
          
          <md-input-container flex="100">
            <div layout="row" class="primaryImageUploadSection" layout-xs="column" layout-align="center center">
              <md-button ng-disabled="primaryCsvFiles.length == home.DOC_MAX"
                class="md-icon-button md-raised img-upload-btn" ng-model="home.process_file" aria-label="Upload project file"
                layout="row" ngf-drag-over-class="'dragover'" ngf-drop="home.uploadPrimaryFile($files)"
                ngf-select="home.uploadPrimaryFile($files)" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="5MB"
                ngf-max-files="{{ home.DOC_MAX }}" ngf-multiple="false" ngf-validate-fn="createUserCtrl.validateImg($file)">
                <md-icon>cloud_upload</md-icon>
              </md-button>
              <span class="img-label">{{ primaryCsvFiles.length }} of {{ home.DOC_MAX }} file uploaded</span>
              <span flex></span>
              <span ng-if="primaryCsvFiles.length <1" class="reminder">*Atleast one Image required <small></small></span>
              <!-- <span ng-if="!docError" class="reminder">Please upload  xlsx files </span> -->
            </div>
            <div layout="row" class="img-array-disp" layout-xs="row" layout-sm="row" layout-wrap layout-align="center center">
              <div class="image-container" ng-repeat="file in primaryCsvFiles">
                <div ngf-thumbnail="file" class="thumb">{{file.name}}</div>
                <md-icon ng-click="home.removePrimaryFile($index)">clear</md-icon>
              </div>
              <!-- <div class="rotate-btn-wrap">
                  <md-button ng-if="primaryCsvFiles.length != 0" class="md-primary md-raised rotate" ng-click="home.rotateImage()">
                    <span>Rotate</span>
                  </md-button>
              </div> -->
            </div>
            <div id="large-padding" class="img-thumbnail-large">
              <div class="img-thumb-wrap" id="rotate-container">
                  <img id="can-rotate" ngf-src="primaryCsvFiles[0]" class="thumb-rotate"/>
              </div>
            </div>
            <p ng-if="primaryCsvError == true">
              <md-icon class="md-warn">error_outline</md-icon>&nbsp;
              <span style="color: red;font-size: 12px;">Some of the files are invalid!!</span>
            </p>
          </md-input-container>
          
          <div class="btn-disp" layout="row" flex="100" layout-align="center center">
              <md-button class="predict-btn md-primary md-raised" offset="22" scroll-to="result-area"
              ng-click="home.submitForm(content,$event)"
              ng-disabled="(primaryCsvFiles.length<1) || primaryCsvError || docError || uploadForm.$invalid ">
              NEXT</md-button>
            <md-button class="reset-btn md-raised reset" ng-click="home.resetInput()">
              Reset
            </md-button>
          </div>
        </form>
      </div>
    </md-card>
  </div>
</md-card>

<div id="initiate"></div>
<!-- <footer-el class="dashboard-footer"></footer-el> -->