md-card.home-layout {
    background-color: #eee;
    div.section-hd {
      font-family: Roboto, 'sans-serif';
      text-align: center;
      // margin-bottom: 40px;
      h1 {
        font-size: 30px;
        font-weight: 300;
        line-height: 30px;
      }
      p {
        margin: 0 0 10px;
        font-weight: 300;
        font-size: 14px;
        color: #78909c;
      }
    }
    scroll-behavior: smooth;
    margin: 124px auto 60px auto;
    padding-bottom: 10px;
    box-shadow: none;
    font-family: Quicksand,'sans-serif';
    @media screen and (max-width: 599px)  {
      width: 100%;
      margin: 90px auto 50px auto;
    }
    div.home-wrapper {
      @media screen and (min-width: 600px) and (max-width: 959px)  {
        width: 60%;
        margin: 0 auto;
      }
      @media screen and (max-width: 599px)  {
        width: 100%;
        margin: 0 auto;
      }
      .analysis-form {
        // padding: 12px;
        box-shadow: 0px 2px 9px 0px rgba(184,178,184,1);
          width: 50%;
          // margin: 20px auto;
          margin:20px;
          @media screen and (min-width:320px) and (max-width:960px) {
              width: 90%;
          }
          
          .form-desc {
              padding: 18px;
             
              // @keyframes scale-display {
              //   0% {
              //     opacity: 0;
              //     transform: scale(0);
              //   }
              
              //   100% {
              //     opacity: 1;
              //     transform: scale(1);
              //   }
              // }
              
              // @keyframes scale-hide {
              //   0% {
              //     display:block;
              //     opacity: 1;
              //     transform: scale(1);
              //     -webkit-transform: scale(1);
              //   }
              //   99% {
              //     display: block;
              //     opacity: 0;
              //     transform: scale(0);
              //     -webkit-transform: scale(0);
              //   }
              //   100% {
              //     display: none;
              //     opacity: 0;
              //     transform: scale(0);
              //     height: 0;
              //   }
              // }
              div.check-wrap{
                md-checkbox{
                  margin: 0;
                  padding: 8px 22px 8px 8px;
                  font-size: 14px;
                  color: #2d3a52
                }
              }
              md-input-container input {
                font-size: 14px;
              }
              .md-button.md-primary.md-raised{
                background: #2d3a52;
                  color:#fff;
              &:disabled{
                background: gray;
                  color: #2d3a52;
              }
              }
              
              .primaryImageUploadSection {
                  span.img-label {
                    font-size: 14px;
                    color: #848484;
                    margin: 20px;
                  }
                  .img-upload-btn {
                      text-transform: none;
                  }
                  span.reminder {
                    font-size: 12px;
                    color: #d44c4c;
                    margin: 20px;
                  }
              }
              div.img-array-disp {
                margin-bottom: 10px;
                  div.image-container {
                      // width:60px;
                      // height:60px;
                      // border: 1px solid #d4cbcb;
                      // margin: 5px;
                      // position: relative;
                      border: 1px solid #d4cbcb;
                      margin: 5px;
                      position: relative;
                      background: #2d3a52;
                      color: #fff;
                      border-radius: 20px;
                      padding: 10px;
                      img {
                          width: 100%;
                          height:100%;
                          object-fit: contain;
                      }
                      md-icon {
                          position: absolute;
                          top: 0px;
                          right: 0px;
                          outline: none;
                          background-color: #2d3a52;
                          color: #fff;
                          width: 15px;
                          height: 15px;
                          min-width:0px;
                          min-height: 0px;
                          cursor: pointer;
                          font-size: 15px;
                      }
                  }
                  div.rotate-btn-wrap {
                    .md-button{
                      background: lightgray;
                      color: #2d3a52;
                      span{
                        text-transform: lowercase;
                      }
                    }
                  }
              }
              div.img-thumbnail-large {
                overflow: hidden;
                text-align: center;
                // max-width: 100%;
                // height: auto;
               div.img-thumb-wrap{
                img{
                  max-width: 100%;height: auto;
                }
                .rotate90 {
                  transform: rotate(90deg);
                  -webkit-transform: rotate(90deg);
                  -ms-transform: rotate(90deg);
                  // transform-origin: bottom right;
                }
                .rotate180 {
                  transform: rotate(180deg);
                  -webkit-transform: rotate(180deg);
                  -ms-transform: rotate(180deg);
                }
                .rotate270 {
                  transform: rotate(270deg) ;
                  -webkit-transform: rotate(270deg);
                  -ms-transform: rotate(270deg);
                }
               }
              }
              md-select {
                md-option {
                  font-size: 14px;
                }
              }
              md-autocomplete {
                margin-top: 20px;
              }
              md-input-container textarea {
                  overflow-x: hidden;
                  overflow-y: auto;
                  max-height: 300px;
                  min-height: 70px;
                  background-color: #fbfbfb;
                  font-size: 14px;
              }
          }    
      }
    }
}

md-dialog {
  max-height: 70% !important;
  .this-dialog {
    md-list.header {
      position: sticky;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 1;
      background: #31b0de;
      color: #fff;
      padding: 0;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      md-list-item {
        font-family: 'Roboto Condensed';
        font-size: 18px;
        font-weight: 500;
        padding: 5px 15px;
      }
    }
    md-list.content-title-desc {
      md-list-item {
        font-family: 'Roboto Condensed';
        font-size: 18px;
        font-weight: 500;
        padding: 5px 15px;
      }
    }
    table {
      font-family: 'Roboto Condensed';
      md-checkbox {margin: 0;}
      border-spacing: 0;
      thead {
        tr {
          height: 50px;
          th {
            color: #6f6f6f;
            font-size: 12px;
            padding: 10px;
            font-weight: 300;
            border-bottom: 1px solid #eaeaea;
            text-align: left;
            &:first-child {
              text-align: left;
              min-width: 120px;
              font-size: 12px;
            }
            &:nth-child(2) {
              min-width: 100px;
              max-width: 120px;
            }
          }
        }
      }
      tbody {
        
        tr {
          height:50px;
          color: #424242;
          &:hover {
            background: #f9f9f9;
          }
          td.progress {
            font-size: 12PX;
            font-weight: 600;
          }
          td.prediction {
            md-icon {
              font-size: 24px;
            }
          }
          td {
            md-icon.processing {
              color: #31b0de !important;
            }
            md-icon.success {
              color: #31d831 !important
            }
            padding: 10px;
            border-bottom: 1px solid #eaeaea;
            font-weight: 400;
            outline: none;
            &:first-child {
              &:hover {
                cursor: pointer;
              }
            }
            &:nth-child(2) {
              width: 40%;
            }
            &:last-child {
              font-size: 14px;
              width: 300px;
              md-input-container {
                width: 300px;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
md-toast.custom-toast-2.md-top {
  margin-top: 0px;
  .md-button.md-default-theme.md-accent.md-fab, .md-button.md-accent.md-fab, .md-button.md-default-theme.md-accent.md-raised, .md-button.md-accent.md-raised{
    color: rgb(255,255,255);
    background-color: rgb(3,155,229);
  }
  }